// blue
$blue-1: #a1d4e5;
$blue-2: #537ce6;
$blue-3: #4e5d71;
$blue-4: #282e36;

// green
$green-1: #d6ef8a;
$green-2: #1caa90;

// red
$red: #fd7676;

// orange
$orange-1: #ffb866;
$orange-2: #ffa53a;

// yellow
$yellow: #fbeca9;

// purple
$purple: #c58cfd;

// gray
$gray-1: #dde6e9;
$gray-2: #aaaaaa;

// white
$white-1: #ffffff;
$white-2: #f9f9f9;

// black
$black: #000000;

//transparent
$transp: #fff0;


//background-color各頁背景顏色========================
$bgc-1 : $white-1;
$bgc-2 : $blue-1;
$bgc-3 : $blue-2;
$bgc-4 : $green-1;
$bgc-5 : $green-2;
$bgc-6 : $orange-1;
$bgc-7 : $purple;
$bgc-8 : $gray-1;


//card-color卡片顏色========================
$cardc-1:$white-1;
$cardc-2:$gray-1;
$cardc-3:$blue-4;

//button-color按鈕背景色========================
$btn-pri-bgc:$blue-4;
$btn-fail-bgc:$gray-2;