// blue
$lightblue: #a1d4e5;
$deepblue: #537ce6;
$navyblue: #4e5d71;
$ultradeepblue: #282e36;

// green
$green: #1caa90;
$lightgreen: #d6ef8a;

// red
$red: #fd7676;

// orange
$orange: #ffa53a;
$lightorange: #ffb866;

// yellow
$cream: #fbeca9;

// purple
$lightpurple: #c58cfd;

// gray
$gray: #aaaaaa;
$lightgray: #dde6e9;

// white
$white: #ffffff;
$ivory: #f9f9f9;

// black
$black: #000000;
