// PC
$PC-text: 16px;
$PC-h1: 60px;
$PC-h2: 36px;
$PC-h3: 24px;
$PC-h4: 20px;

// mobile
$M-text: 15px;
$M-h1: 40px;
$M-h2: 24px;
$M-h3: 20px;
$M-h4: 16px;

$small: 12px;
$description: 20px;
$discount: 15px;

// btn-font
$PC-btn-lg-font: 20px;
$PC-btn-sl-font: 15px;
$PC-btn-md-font: $PC-text;
$btnfont: 24px;
$btnfont: 24px;

// card
$card-title: 32px;


//字距，字跟字之間的距離
$PC-btn-lg-spacing: 5px;
$PC-btn-sl-spacing: 3px;
$PC-btn-esl-spacing: 1px;
$PC-btn-exsl-spacing: .5px;

//套用class
.pc-h1 {
    font-size: $PC-h1;
    letter-spacing: $PC-btn-lg-spacing;
  }
  .pc-h2 {
    font-size: $PC-h2;
    letter-spacing: $PC-btn-esl-spacing;
  }
  
  .pc-h3 {
    font-size: $PC-h3;
    letter-spacing: $PC-btn-esl-spacing;
  }
  
  .pc-h4 {
    font-size: $PC-h4;
    letter-spacing: $PC-btn-exsl-spacing;
  }

  .pc-h5 {
    font-size: $PC-text;
    letter-spacing: $PC-btn-exsl-spacing;
  }

  @mixin H1() {
    font-size: 40px;
    font-family: Zen Maru Gothic;
    font-weight: 900;

    @include T() {
			font-size: 48px;
		}
  }

  @mixin H1() {
    font-size: 40px;
    font-family: Zen Maru Gothic;
    font-weight: 900;
    letter-spacing: .2rem;

    @include T() {
			font-size: 48px;
		}
  }

  @mixin H2() {
    font-size: 32px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    letter-spacing: .1rem;

    @include T() {
			font-size: 40px;
		}
  }

  @mixin H3() {
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    letter-spacing: .05rem;

    @include T() {
			font-size: 28px;
		}
  }

  @mixin H4() {
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    letter-spacing: .05rem;

    @include T() {
			font-size: 24px;
		}
  }

  @mixin text() {
    font-size: 15px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    letter-spacing: .05rem;
    line-height: 1.5rem;

    @include T() {
			font-size: 16px;
		}
  }