// PC
$PC-text: 16px;
$PC-h1: 60px;
$PC-h2: 36px;
$PC-h3: 24px;
$PC-h4: 20px;

// mobile
$M-text: 15px;
$M-h1: 40px;
$M-h2: 24px;
$M-h3: 20px;
$M-h4: 16px;

$small: 12px;
$description: 20px;
$discount: 15px;

// btn-font
$PC-btn-lg-font: 20px;
$PC-btn-sl-font: 15px;
$PC-btn-md-font: $PC-text;
$btnfont: 24px;
$btnfont: 24px;

// card
$card-title: 32px;


//字距，字跟字之間的距離
$PC-btn-lg-spacing: 5px;
$PC-btn-sl-spacing: 3px;
$PC-btn-esl-spacing: 1px;
$PC-btn-exsl-spacing: .5px;