// spacing
$XS-spacing: 4px;
$S-spacing: 8px;
$M-spacing: 20px;
$L-spacing: 40px;
$XL-spacing: 60px;
$XXL-spacing: 80px;
$XXXL-spacing: 160px;

// border-radius
$S-button-radius: 8px;
$L-button-radius: 32px;
$PC-card-radius: 28px;
$Mob-card-radius: 20px; //手機卡片圓角
$XL-radius: 48px;
$input-radius: 8px; //input圓角

// 斷點
$PC: 1024px;
$T: 768px;
$M: 480px;

//最大寬度
$max-width: 1200px;
