.container {
  --column-gap: 10px;
  max-width: $max-width;
  margin: auto;
  padding-left: var(--column-gap);
  padding-right: var(--column-gap);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--column-gap) * -1);
  margin-right: calc(var(--column-gap) * -1);
}

// class 名格式 col-12
@include grid(12);

// class 名格式 col-T-12
@include T() {
  @include grid(12, T);
}

// class 名格式 col-PC-12
@include PC() {
  @include grid(12, PC);
}
