.memberAside{
    .memAside{
        position: relative;
        display: flex;
        justify-content: center;
        border-radius: $PC-card-radius;
        flex-direction: column;
        gap: $M-spacing;

        @include PC() {
            position: relative;
            // top: 100px;
        }
    }
    .memID{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: $M-spacing;
        gap: $M-spacing;
        border-radius: $PC-card-radius;
        background-color: $white-1;
        cursor: pointer;
    }
    .memID img{
        vertical-align: top;
        width: 100%;
        max-width: 60px;
    }
    .memID:hover{
        background-color: $gray-1;

    }
    .memberContent{
        gap: $M-spacing;
        justify-content: center;
    }

    .asideListitem{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $M-spacing;
        position: relative;
        cursor: pointer;
    }
    .asideListitem:not(:last-child):after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 1px;        
        border-top: 1px solid;
    }
    .asideListitem:hover:not(:first-child):not(:last-child){
        background-color: rgba($color: $gray-1, $alpha: 0.5);
        border-radius: $S-button-radius;
    }
    .asideListitem:hover:first-child{
        background-color: rgba($color: $gray-1, $alpha: 0.5);
        border-radius:$PC-card-radius $PC-card-radius  $S-button-radius $S-button-radius;
    }
    .asideListitem:hover:last-child{
        background-color: rgba($color: $gray-1, $alpha: 0.5);
        border-radius:  $S-button-radius $S-button-radius $PC-card-radius $PC-card-radius;
    }
    .asideListitem img{
        width: 100%;
        vertical-align: top;
        max-width: 36px;
    }
    .asideList{
        border-radius: $PC-card-radius;
        background-color: $white-1;

    }
}