.memberAside{
    .memAside{
        position: relative;
        display: flex;
        justify-content: center;
        border-radius: $PC-card-radius;
        flex-direction: column;
        gap: $M-spacing;

        @include PC() {
            position: relative;
            // top: 100px;
        }
    }
    .memID{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $M-spacing;
        gap: $M-spacing;
        border-radius: $PC-card-radius;
        background-color: $white-1;

    }
    .memID img{
        vertical-align: top;
        width: 100%;
        max-width: 60px;
    }

    .memberContent{
        gap: $M-spacing;
        justify-content: center;
    }

    .asideListitem{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $M-spacing;
        position: relative;
    }
    .asideListitem:not(:last-child):after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 1px;        
        border-top: 1px solid;
    }

    .asideListitem img{
        width: 100%;
        vertical-align: top;
        max-width: 36px;
    }
    .asideList{
        border-radius: $PC-card-radius;
        background-color: $white-1;

    }
}