.newsCard {
  border-radius: $M-button-radius;
  width: 166.5px;
  border: 2px solid $blue-4;
  height: 251px;
  display: flex;
  flex-direction: column;
  
  .thList {
    background-color: #fa0;
    display: flex;
    flex-direction: row;
  }
  
  @include T(){
    border-radius: $S-button-radius;
    width: 305px;
    height: 457px;
    position: relative;
  }
  
  .newsImg {
    overflow: hidden;
    border-radius: 18px 18px 0 0;
    height: 60%;
    object-fit: cover;
    border-bottom: 2px solid $blue-4;
    
    @include T(){
      width: 100%;
      border-radius: 5px 5px 0 0;
    }
    
    img {
      height: 120%;
      width: auto;
      vertical-align: middle;
      
      @include T(){
        width: 100%;
        object-position: 0;
        height: 100%;
        object-fit: cover;
        transition: all .5s;
      }

      &:hover {

        @include T(){
          width: 110%;
          height: 105%;

        }
      
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;
    padding: $S-spacing $S-spacing  $S-spacing;
    color: $blue-4;
    
    @include T() {
      padding: $M-spacing $S-spacing  $M-spacing;

    }


    .title {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;

      @include T() {
        text-wrap: unset;
      }
      h2 {
        display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;

      }
    }

    .date {
    }


  }



}