.newsRow {
  border-radius: $M-button-radius;
  width: 300px;
  border: 2px solid $blue-4;
  height: 100px;
  display: flex;
  background-color: $white-1;
  max-width: $max-width;
  @include T(){
    border-radius: $S-button-radius;
    width: calc(100vw / 1 - 80px);
    height: 200px;
    position: relative;
  }
  @include PC(){
    width: calc(100vw / 1 - 320px);

  }
  .newsImg {
    overflow: hidden;
    border-radius: 18px  0 0 18px;
    height: 100%;
    width: 30%;
    object-fit: cover;
    border-right: 2px solid $blue-4;
    @include T(){
      width: 30%;
      height: 100%;
      border-radius: 5px 0 0 5px;
    }
    
    img {
      height: 120%;
      width: auto;
      vertical-align: middle;
      
      @include T(){
        width: 100%;
        object-position: 0;
        height: 100%;
        object-fit: cover;
        transition: all .5s;
      }

      &:hover {

        @include T(){
          width: 110%;
          height: 105%;

        }
      
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;
    padding: $S-spacing $S-spacing 5px;
    color: $blue-4;
    width: 70%;
    @include T() {
      padding: $M-spacing;
    }
    .title {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      @include T() {
      }
      h4 {
        display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 16px !important;
        @include T() {
          font-size: 20px !important;
        }
      }
    }
    .textContent {
      display: none;
      @include T(){
        display: block;
        letter-spacing: $PC-btn-exsl-spacing;
        overflow: hidden;
        text-overflow: ellipsis;
        // text-wrap: nowrap;
      }
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
    .info {
      display: flex;
    }
    .date {
      margin-top: auto;
      margin-bottom: auto;
    }
    .category {
      margin-left: auto;
      border-radius: $M-button-radius; 
      background-color: $gray-1;
      color: $blue-4;
      padding: 4px 10px;
    }
  }
}