.newsCard {
  border-radius: $M-button-radius;
  width: 166.5px;
  // width: 170px;
  border: 2px solid $blue-4;
  height: 251px;
  display: flex;
  flex-direction: column;
  background-color: $white-1;
  margin: 0 6px;
  .thList {
    background-color: #fa0;
    display: flex;
    flex-direction: row;
  }
  @include T(){
    border-radius: $S-button-radius;
    width: 200px;
    height: 300px;
    position: relative;
    margin: 0 4px;
  }

  @include PC(){
    margin: 0 10px;
    // width: 305px;
    // height: 457px;
    width: 250px;
    height: 360px;
  }
  .newsImg {
    border-radius: 18px 18px 0 0;
    height: 60%;
    object-fit: cover;
    border-bottom: 2px solid $blue-4;
    overflow: hidden;
    aspect-ratio: 4/3;
    @include T(){
      width: 100%;
      border-radius: 5px 5px 0 0;
    }
    img {
      height: 100%;
      width: 100%;
      vertical-align: middle;
      display: block;
      object-fit: cover;
      @include T(){
        width: 100%;
        object-position: 0;
        height: 100%;
        object-fit: cover;
        transition: all .5s;
      }
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;
    padding: $S-spacing $S-spacing  $S-spacing;
    color: $blue-4;
    .title {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      @include T() {
        text-wrap: unset;
      }
      h4 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 16px !important;
        @include T() {
          font-size: 20px !important;
        }
      }
    }
    .info {
      display: flex;
    }
    .date {
      font-size: 16px !important;
      margin-top: auto;
      margin-bottom: auto;
      @include T() {
        font-size: unset;
      }
    }
    .category {
      margin-left: auto;
      border-radius: $M-button-radius; 
      background-color: $gray-1;
      color: $blue-4;
      padding: 4px 10px;
      p {
        font-size: 14px !important;
        @include T() {
          font-size: 16px !important;
        }
      }
      @include T() {
      margin-right: 10px;
      font-size: unset;
      font-size: unset;
      }
    }
  }
}
