.newsRow {
  border-radius: $M-button-radius;
  width: 300px;
  border: 2px solid $blue-4;
  height: 100px;
  display: flex;
  background-color: $white-1;
  max-width: $max-width;
  @include T(){
    border-radius: $S-button-radius;
    width: calc(100vw / 1 - 80px);
    height: 200px;
    position: relative;
  }
  @include PC(){
    width: calc(100vw / 1 - 320px);

  }
  .newsImg {
    overflow: hidden;
    border-radius: 18px  0 0 18px;
    height: 100%;
    width: 30%;
    object-fit: cover;
    border-right: 2px solid $blue-4;
    @include T(){
      width: 30%;
      height: 100%;
      border-radius: 5px 0 0 5px;
    }
    
    img {
      height: 120%;
      width: auto;
      vertical-align: middle;
      
      @include T(){
        width: 100%;
        object-position: 0;
        height: 100%;
        object-fit: cover;
        transition: all .5s;
      }

      &:hover {

        @include T(){
          width: 110%;
          height: 105%;

        }
      
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;
    padding: $S-spacing $S-spacing  $S-spacing;
    color: $blue-4;
    width: 70%;
    @include T() {
      padding: $M-spacing $M-spacing  $M-spacing;

    }


    .title {
      width: 100%;
      // text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include T() {
        text-wrap: unset;
      }
      h4 {
        display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;

      }
    }

    .textContent {
      display: none;
      @include T(){
        display: block;
        letter-spacing: $PC-btn-exsl-spacing;
      }
    }

    .date {
    }


  }



}