$islandItems: (
	islandTree: (objw: 365.5, objx: 5.49, objy: 8.08),
	islandNews: (objw: 217.24, objx: 160.84, objy: 521.67),
	islandBar: (objw: 558.4, objx: 436.07, objy: 622),
	islandGames: (objw: 330.29, objx: 688, objy: 382.8),
	islandRoof: (objw: 645.69, objx: 277.95, objy: 212.94),
	islandBoard: (objw: 212.85, objx: 261.76, objy: 403.2),
	islandBug: (objw: 252.28, objx: 463.4, objy: 390.32),
	islandBarup: (objw: 254, objx: 434.96, objy: 660.38),
	islandPrebook: (objw: 283.02, objx: 965.84, objy: 515.87),
	islandCart: (objw: 202.41, objx: 367.14, objy: 756),
	islandAbout: (objw: 419.36, objx: 423.64, objy: 155.4),
	// 添加更多物件...
);


@mixin applyStyles($islandItems) {
	@each $name, $values in $islandItems {
		#{'#' + $name + '-image'} {
			position: absolute;
			width: calc(map-get($values, objw) / 1280 * 100%);
			top: calc(map-get($values, objy) / 1172 * 100%);
			left: calc(map-get($values, objx) / 1280 * 100%);
		}
	}
}

#banner-container {
	background-image: linear-gradient(90deg,
			rgba(255, 255, 255, 0.1) 1px,
			transparent 1px),
		linear-gradient(180deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
		linear-gradient(to top, $blue-1, $blue-2, $blue-2);
	background-size: 40px 40px, 40px 40px, cover;
	background-repeat: repeat, repeat, no-repeat;
	z-index: 949;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	position: relative;

	#banner-imagebox {
		width: 100%;
		position: relative;
		margin: 4% auto 12% auto;

		@include T() {
			width: 75%;
		}

		@include PC() {
			width: 46%;
			max-width: 800px;
		}

		#island-image {
			width: 100%;
		}

		#lEye {
			position: absolute;
			// width: calc((20 / 1280) * 100%);
			// left: calc((620.6 / 1280) * 100%);
			// top: calc((551 / 1280) * 100%);
			width: 1.5625%;
			left: 48.484375%;
			top: 43.046875%;
			transition: left 0.1s ease, top 0.1s ease;
		}

		#rEye {
			position: absolute;
			// width: calc((18 / 1280) * 100%);
			// left: calc((669 / 1280) * 100%);
			// top: calc((543 / 1280) * 100%);
			width: 1.40625%;
			left: 52.265625%;
			top: 42.421875%;
			transition: left 0.1s ease, top 0.1s ease;
		}

		@include applyStyles($islandItems);

		.itemTag {
			background-color: $white-1;
			color: $black;
			font-size: 2.8vw;
			font-family: 'Zen Maru Gothic', serif;
			font-weight: 700;
			display: block;
			position: absolute;
			text-align: center;
			outline: 1px solid $black;
			width: 0%;
			/* 初始寬度設為0 */
			overflow: hidden;
			white-space: nowrap;

			@keyframes expandWidthR {
				0% {
					width: 0%;
					padding: 0;
				}
				10% {
					width: 0%;
					padding: 0;
				}

				50% {
					width: 23%; /* 第一次超過目標值 */
					padding: 0 1.5% 0 6.2%;
				}
				85% {
					width: 19.5%; /* 縮 */
					padding: 0 1.5% 0 6%;
				}
				100% {
					width: 20%;
					padding: 0 1% 0 6%;
				}
			}
			@keyframes expandWidthL {
				0% {
					width: 0%;
					padding: 0;
				}
				10% {
					width: 0%;
					padding: 0;
				}

				50% {
					width: 23%; /* 第一次超過目標值 */
					padding: 0 6.2% 0 1.5%;
				}
				85% {
					width: 19.5%; /* 縮 */
					padding: 0 6% 0 1.5%;
				}
				100% {
					width: 20%;
					padding: 0 6% 0 1%;
				}
			}
			@include T() {
				font-size: 2.2vw;
			}
			@include PC() {
				display: none;
			}
		}

		#treeTag {
			top: 5%;
			left: 12%;
			border-top: .4em solid $green-2;
			border-bottom: .4em solid $green-2;
			border-right: .4em solid $green-2;
			animation: expandWidthR 0.5s forwards;
			animation-delay: .6s;


		}

		#newsTag { //L
			top: 51%;
			right: 79%;
			border-top: .4em solid $orange-1;
			border-bottom: .4em solid $orange-1;
			border-left: .4em solid $orange-1;
			// padding: 0 6% 0 1.5%;
			animation: expandWidthL .5s ease-out forwards;
			animation-delay: .6s;
			
		}

		#GamesTag { //R
			top: 35%;
			left: 66%;
			border-top: .4em solid $blue-2;
			border-bottom: .4em solid $blue-2;
			border-right: .4em solid $blue-2;
			// padding: 0 1.5% 0 6%;
			animation: expandWidthR 0.5s forwards;
			animation-delay: .6s;
		}

		#boardTag { //L
			// 玩家社群
			top: 41.5%;
			right: 74%;
			border-top: .4em solid $yellow;
			border-bottom: .4em solid $yellow;
			border-left: .4em solid $yellow;
			// padding: 0 6% 0 1.5%;
			animation: expandWidthL .5s ease-out forwards;
			animation-delay: .6s;
		}

		#bugTag {
			// 兩行，比較特別
			top: 43.5%;
			left: 49%;
			border-top: .4em solid $green-1;
			border-bottom: .4em solid $green-1;
			border-right: .4em solid $green-1;
			// padding: 0 1.5% 0 6%;
			line-height: 1.1em;
			animation: expandWidthR 0.5s forwards;
			animation-delay: .6s;
		}

		#prebookTag { //L
			top: 60%;
			right: 19.5%;
			border-top: .4em solid $purple;
			border-bottom: .4em solid $purple;
			border-left: .4em solid $purple;
			// padding: 0 6% 0 1.5%;
			animation: expandWidthL .5s ease-out forwards;
			animation-delay: .6s;
		}

		#cartTag { //L
			// 購物車
			top: 68%;
			right: 67%;
			border-top: .4em solid $red;
			border-bottom: .4em solid $red;
			border-left: .4em solid $red;
			// padding: 0 6% 0 1.5%;
			animation: expandWidthL .5s ease-out forwards;
			animation-delay: .6s;
		}

		#aboutTag {
			top: 16%;
			left: 62%;
			border-top: .4em solid $orange-2;
			border-bottom: .4em solid $orange-2;
			border-right: .4em solid $orange-2;
			// padding: 0 1.5% 0 6%;
			animation: expandWidthR 0.5s forwards;
			animation-delay: .6s;
		}

		#islandTree-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}

		#islandNews-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}

		#islandGames-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}

		#islandBoard-image:hover {
			//微弱 /2
			filter: drop-shadow(0px 0px 2px #fff) drop-shadow(0px 0px 6px #fff);
		}

		#islandBug-image:hover {
			//微弱 /3
			filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 3px #fff);
		}

		#islandPrebook-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}

		#islandCart-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}

		#islandAbout-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}
	}

	#banner-cardsbox {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		bottom: 0;
		pointer-events: none;

		.showCard {
			//手機版none
			padding: $XS-spacing;
			background-color: $white-1;
			outline: 2px solid $black;
			box-shadow: 0 0 0 4px #fff;
			width: 40%;
			flex-direction: column;
			align-items: center;
			gap: $S-spacing;
			color: $black;
			z-index: 1;
			position: absolute;
			display: none;
			padding: $M-spacing;

			@include PC() {
				display: flex;
				flex-direction: column;
			}

			.card-title {
				font-family: 'Zen Maru Gothic', serif;
				font-weight: 700;
				font-size: 24px;
			}

			.card-line {
				width: calc(100% - 8px);
				height: 1px;
				background-color: $orange-1;
			}

			.card-text {
				font-size: $small;
				font-size: $PC-text;
			}
		}

		#treeCard {
			position: absolute;
			top: 10%;
			left: -48%;
			border: $M-spacing solid $green-2;
		}

		#boardCard {
			position: absolute;
			top: 26.67%;
			left: -48%;
			border: $M-spacing solid $yellow;
		}

		#newsCard {
			position: absolute;
			top: 43.33%;
			left: -48%;
			border: $M-spacing solid $orange-1;
		}

		#cartCard {
			position: absolute;
			top: 60%;
			left: -48%;
			border: $M-spacing solid $red;
		}

		#aboutCard {
			position: absolute;
			top: 10%;
			right: -48%;
			border: $M-spacing solid $orange-2;
		}

		#bugCard {
			position: absolute;
			top: 26.67%;
			right: -48%;
			border: $M-spacing solid $green-1;
		}

		#gamesCard {
			position: absolute;
			top: 43.33%;
			right: -48%;
			border: $M-spacing solid $blue-2;
		}

		#prebookCard {
			position: absolute;
			top: 60%;
			right: -48%;
			border: $M-spacing solid $purple;
		}
	}
	#whiteWave-imagebox {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;

		align-items: end;
		background-color: #fa00;
		#whiteWave {
			display: block;
			width: 100%;

		}
	}
}