$islandItems: (
	islandTree: (objw: 365.5, objx: 5.49, objy: 8.08),
	islandNews: (objw: 217.24, objx: 160.84, objy: 521.67),
	islandBar: (objw: 558.4, objx: 436.07, objy: 622),
	islandGames: (objw: 330.29, objx: 688, objy: 382.8),
	islandRoof: (objw: 645.69, objx: 277.95, objy: 212.94),
	islandBoard: (objw: 212.85, objx: 261.76, objy: 403.2),
	islandBug: (objw: 252.28, objx: 463.4, objy: 390.32),
	islandBarup: (objw: 254, objx: 434.96, objy: 660.38),
	islandPrebook: (objw: 283.02, objx: 965.84, objy: 515.87),
	islandCart: (objw: 202.41, objx: 367.14, objy: 756),
	islandAbout: (objw: 419.36, objx: 423.64, objy: 155.4),
	// 添加更多物件...
);


@mixin applyStyles($islandItems) {
	@each $name, $values in $islandItems {
		#{'#' + $name + '-image'} {
			position: absolute;
			width: calc(map-get($values, objw) / 1280 * 100%);
			top: calc(map-get($values, objy) / 1172 * 100%);
			left: calc(map-get($values, objx) / 1280 * 100%);
		}
	}
}

#banner-container {
	background-image: linear-gradient(90deg,
			rgba(255, 255, 255, 0.1) 1px,
			transparent 1px),
		linear-gradient(180deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
		linear-gradient(to top, $blue-1, $blue-2, $blue-2);
	background-size: 40px 40px, 40px 40px, cover;
	background-repeat: repeat, repeat, no-repeat;
	z-index: 949;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	position: relative;

	#banner-imagebox {
		width: 96%;
		position: relative;
		margin-top: 12%;
		outline: 2px solid #fa0;

		@include T() {
			width: 75%;
		}

		@include PC() {
			width: 50%;
		}

		#island-image {
			width: 100%;
		}

		#lEye {
			position: absolute;
			width: calc((20 / 1280) * 100%);
			left: calc((620.6 / 1280) * 100%);
			top: calc((551 / 1280) * 100%);
		}

		#rEye {
			position: absolute;
			width: calc((18.5 / 1280) * 100%);
			left: calc((669 / 1280) * 100%);
			top: calc((543 / 1280) * 100%);
		}


		@include applyStyles($islandItems);

		#islandTree-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}

		#islandNews-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}

		#islandGames-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}

		#islandBoard-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}

		#islandBug-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}

		#islandPrebook-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}

		#islandCart-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}

		#islandAbout-image:hover {
			filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
		}
	}

	#banner-cardsbox {
		padding: $XS-spacing;

		border: #fa0;
		position: absolute;
		top: 0;
		left: 0;

		.showCard {
			background-color: $white-1;
			outline: 2px solid $black;
			box-shadow: 0 0 0 4px #fff;
			width: 30rem;
			flex-direction: column;
			align-items: center;
			gap: $S-spacing;
			color: $black;
			z-index: 1;
			position: absolute;
			top: 0;
			left: -100%;
		}




	}
}