
//btn bgc
@mixin btnColor($bgc , $border: false) {
    @if $border {
      border: 1px solid $bgc;
      color: $bgc;
      &:hover {
        background-color: $bgc;
        color: #fff
      }
    } @else {
      background-color: $bgc;
      color: #fff;
      &:hover {
        background-color: darken($bgc, 10);
      }
    }
  }
  