img{
    width: 100%;
    vertical-align: bottom;
}
.mainFooter{
    position: relative;
    .mOcean {
        position: absolute;
        top: 0;
        transform: translateY(-90%);
        right: 0;
        @include PC(){
            display: none;

        }
        
    }
    .pcOcean{
        display: none;
        @include PC(){
            display: block;
            margin: -2px auto;
            position: absolute;
            top: 0;
            transform: translateY(-95%);
            // transform: translateX(-1%);
            right: 0;
            width: 101%;
        }   
    }


    span{
        color: $white-1;
    }
    
    .footer {
        background-color: $blue-4;


        .footer_info {
            padding: $L-spacing $L-spacing $M-spacing;
            position: relative;
    
            .footer_menu{
                display: flex;
                flex-direction: column;
                padding: 0 0 $M-spacing;

                .title{
                    font-size: $PC-btn-lg-font;
                    letter-spacing: $PC-btn-sl-spacing;
                }

                .menu {
                    display: flex;
                    flex-direction: column;
                    @include PC(){
                        flex-direction: row;
                        
                    }
                    .item {
                        color: $white-1;
                        font-size: $PC-btn-sl-font;
                        letter-spacing:$PC-btn-esl-spacing;
                        margin: $S-spacing 0;
                        @include PC(){
                            margin:$M-spacing  $M-spacing $S-spacing;
                        }

                    }
                    .first{
                        margin:$M-spacing 0 $S-spacing;
                        @include PC(){
                            margin:$M-spacing  $M-spacing $S-spacing 0;
                        }
                    }
                }
            }
            .footer_logo {
                width: 100px;
                position: absolute;
                top: 20%;
                right: 15%;
    
                .img{
                    width: 100px;
                    display: flex;
                    justify-content: center;
                }
    
                .social_logo {
                    color: $white-1;
                    display: flex;
                    justify-content: space-between;
                    margin:$M-spacing 0;
                    // width: 120%;
                }
                .logo{
                    width: 25px;
                }
    
                
                
            }
            .footer_officeInfo {
                display: flex;
                flex-direction: column;
                

                .title{
                    font-size: $PC-btn-lg-font;
                    letter-spacing: $PC-btn-sl-spacing;
                    margin: 0 0 $M-spacing;

                }
    
                span:not(:first-child) {
                    font-size: $small;
                    letter-spacing: $PC-btn-esl-spacing;
                    white-space: pre;
                    
                    @include PC(){
                        margin: $XS-spacing;
                    }
                }
            }
    
        }
    
        .copyright {
            display: flex;
            flex-direction: column;
            padding:$M-spacing $L-spacing $L-spacing;
            border-top: 1px solid $gray-2;
            
            .statement {
                font-size: $small;
                letter-spacing:     $PC-btn-esl-spacing;
            }
            .first {
                padding:0 0 $M-spacing;
            }
        }

    }
    
}

