header{
  .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $gray-2;

    .logo_box{
      // height: 30px;
      display: flex;
      // align-items: center;
      margin: 4px 0px 4px 20px;
      // border: 1px solid red;
      img{
        // background-color: aqua;
        margin: 5px;
        vertical-align: bottom;
        // width: 100%;
        height: 45px;


      }
    }
    
  

    .header_icons {
      display: flex;
      padding-right: 20px;
      font-size: 16px;
      letter-spacing: 2px;
      align-items: center;

      ul {
        // align-items: center;
        align-content: center;
        display: flex;

        li{
        display: flex;
        height: 40px;
        padding: 8px;
        // border: 1px solid red;

        
        .nav_cart{
          height: 18px;
          img{
            vertical-align: middle;
            // border: 1px solid red;
            width: 100%;
          }
        }
        .nav_member{
          height: 20px;
          img{
            vertical-align: middle;
            // border: 1px solid red;
            width: 100%;
          }
        }
      }
      }

      .ham_btn{
        border: none;
        background-color: $transp;
        height: 30px;
      
        .ham_btn_line {
          background-color: $black;
          width: 20px;
          height: 2px;
          margin: 6px 0;
        }
      }
    } //header_icons

    .ham_menu{
    display: block;
    left: 0;
    right: 70px;
    bottom: 0;
    top: 0;
    position: fixed;
    display: block;
    z-index: 950;
    background-color: #daa;
      .ham-menu-nav{
        
      }
    }



  } //wrapper
} //header








