.wrapper{
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

.header_logo{
  width: 250px;
  border: 1px solid blue;
  img{
    width: 90%;
    // margin: auto;
    // text-align: center;
    align-items: center;
    // border: 1px solid red;
  }
}

.title {
  // background-color: $blue-1;
  display: block;
  border: 1px solid red;
  width: 600px;
}

.ham-menu{
  display: none;
}
