header {
  position: sticky;
  z-index: 950;
  background-color: $white-1;
  top: 0;
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $gray-2;
    .logo_box {
      display: flex;
      margin: 4px 0px 4px 5px;
      @include PC(){
        margin: 4px 0px 4px 20px;
      }
      img {
        margin: 5px;
        vertical-align: bottom;
        width: 112px; 
      }
    }
    .header_icons {
      display: flex;
      padding-right: 20px;
      font-size: 16px;
      letter-spacing: 2px;
      align-items: center;
      ul {
        justify-content: center;
        display: flex;
        li {
          display: flex;
          height: 40px;
          padding: 8px;
          align-items: center;
          @media (max-width:374px) {
            &:first-child{
              display: none;
            }
          }
          a{
            color: $black;
            .nav_member_login{
              overflow: hidden;
              width: 28px;
              height: 28px;
              border-radius: 50%;
              box-sizing: border-box;
            }
            img{
              vertical-align: top;
              width: 100%;
              height: 100%;
            }
          }
          .nav_cart { // 購物車容器
            height: 20px;
          }
          .nav_member { // 登入頭像容器
            height: 18px;
          }
        }
      }
      .ham_btn { // 漢堡按紐
        border: none;
        background-color: $transp;
        height: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 18px;
        cursor: pointer;
        outline: none;
        // 漢堡線
        .ham_btn_line1 {
          /* 初始樣式 */
          transform: translateY(0) rotate(0deg);
          transition: transform 0.3s ease;
          background-color: $black;
          width: 18px;
          height: 2px;
          border-radius: 5px;
        }
        .ham_btn_line2 { // 漢堡按鈕中間的線
          /* 初始樣式 */
          opacity: 1;
          transition: opacity 0.3s ease;
          background-color: $black;
          width: 16px;
          height: 2px;
          border-radius: 5px;
        }
        .ham_btn_line3 {
          /* 初始樣式 */
          transform: translateY(0) rotate(0deg);
          transition: transform 0.3s ease;
          background-color: $black;
          width: 18px;
          height: 2px;
          border-radius: 5px;
        }
        /* 按鈕激活狀態下的樣式 */
        .active-line1 {
          width: 21px;
          transform: translateY(8px) rotate(45deg);
          @include PC(){
            transform: translateY(0) rotate(0deg);
          }
        }
        .active-line2 {
          height: 0;
        }
        .active-line3 {
          width: 21px;
          transform: translateY(-7.8px) rotate(-45deg);
          @include PC(){
            transform: translateY(0) rotate(0deg);
          }
        }
      }
    }

    //header_icons
    .ham_menu {
      position: relative;
      display: flex;
      flex-direction: column;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      position: fixed;
      z-index: 950;
      background-color: $blue-1;
      border-top: 80px solid $blue-1;
      box-sizing: border-box;
      gap: 20px;
      font-size: $PC-h4;
      @include T(){
        border-top: 70px solid $blue-1;
      }
      @include PC(){
        border-top: 70px solid $blue-1;
      }
      .ham_menu_bg{
        padding: 20px;
        border-radius: 28px;
        background-color: $white-1;
        margin: auto;
        width: 90%;
        height: 100%;
        margin-bottom: 20px;
        @include PC(){
          overflow-y: overlay;
          max-width: 1106px;
          min-height: 541px;
        }
      }
      // 選單內漢堡線
      .inside_ham_btn{
        position: absolute;
        top:-38px;
        right: 12px;
        display: flex;
        width: 18px;
        cursor: pointer;
        z-index: 990;
        top: -57px;
        right: 27px;
        @include T(){
          top: -28px;
        }
        @include PC(){
          top: -48px;
          right: 45px;
        }
        .ham_btn2{
          border: none;
          background-color: $transp;
          height: 18px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 18px;
          cursor: pointer;
          z-index: 990;
          outline: none;
          &:hover{
            .ham_btn2_line1, .ham_btn2_line3{
              background-color: $orange-2;
            }
          }
          .ham_btn2_line1 {
            transform: translateY(8px) rotate(45deg);
            background-color: $black;
            width: 21px;
            height: 2px;
            border-radius: 5px;
          }
          .ham_btn2_line3 {
            transform: translateY(-7.8px) rotate(-45deg);
            transition: transform 0.3s ease;
            background-color: $black;
            width: 21px;
            height: 2px;
            border-radius: 5px;
          }
          }
        }

      .ham_logo{
        position: absolute;
        top: -57px;
        left: 50%;
        transform: translateX(-50%);
        width: 130px;
        img{
          vertical-align: bottom;
          margin: auto;
          width: 100%;
          border: none;
        }
        @include T(){
          top: -55px;
        }
        @include PC(){
          top: -58px;
        }
      }

      .ham_links{
        .ham_link{
          border-radius: 20px;
          width: 162px;
          padding: 10px 30px;
          margin: 4px 0px;
          color: $blue-2;
          display: flex;
          text-align: center;
          z-index: 10;
          &:hover{
            background-color: $green-1;
            font-weight: bold;
          }
        }
        .ham_cart{
          margin-top: 20px;
        }
        .ham_cart,.ham_member{
          color: $purple;
        }
        
        // hover效果在T和M消失
        .ham_hover_news,.ham_hover{
          display: none;
        }
        @include PC(){
          .ham_hover{
            @include HeaderHover;
            position: absolute;
            bottom: 20px;
            right: 100px;
            display: none;
            z-index: 1;
          }
          // prebook hover效果
          .ham_prebook{
            transition: all .3s;
            &:hover{
              +.ham_hover_prebook{
                display: block;
                color: $blue-1;
              }
            }
          }
          // news hover效果
          .ham_news{
            transition: all .3s;
            &:hover{
              +.ham_hover_news{
                display: block;
                color: $yellow;
              }
            }
          }
          // products hover效果
          .ham_products{
            transition: all .3s;
            &:hover{
              +.ham_hover_products{
                display: block;
                color: $green-1;
              }
            }
          }
          // comm hover效果
          .ham_comm{
            transition: all .3s;
            &:hover{
              +.ham_hover_comm{
                display: block;
                color: $purple;
              }
            }
          }
          // about hover效果
          .ham_about{
            transition: all .3s;
            &:hover{
              +.ham_hover_about{
                display: block;
                color: $orange-1;
              }
            }
          }
          // cart hover效果
          .ham_cart{
            transition: all .3s;
            &:hover{
              +.ham_hover_cart{
                display: block;
                color: $red;
              }
            }
          }
          // member hover效果
          .ham_member{
            transition: all .3s;
            &:hover{
              +.ham_hover_member{
                display: block;
                color: $gray-2;
              }
            }
          }
        }
          
        .ham_comm{  
          display: flex;
          cursor: pointer;
          align-items: center;
          &:hover{
            &.ham_hover_comm{
                display: block;
                color: $purple;
              }
          }
          .submenu{
            display: flex;
            height: 30px;
            .ham_sub_bug{
              width: 70px;
              height: 16px;
              align-items: end;
              img{
                animation: gogo 1.3s ease-in-out infinite;
                width: 46%;
              }
            }
            .ham_sub_comm{
              height: 35px;
              margin-left: 10px;
              a{
                color: $purple;
                font-size: 16px;
                padding: 15px 0px;
                margin: 10px 0px;
                &:hover{
                  color: #9e6fcd;
                  font-weight: bold;
                }
              }
            }
          }
          .ham_angle_right{
            width: 10px;
            margin: 0px 6px;
          }
        }
      }
      
    }
  } 
} 

/* 滑入效果  */
@keyframes slideInFromTop {
  from {
    transform: translateY(-100%); /* 初始位置在上方螢幕外 */
  }
  to {
    transform: translateY(0); /* 最終位置在螢幕內 */
  }
}

/* 過渡效果 */ 
.ham_menu-enter {
  opacity: 0; /* 初始透明度為0 */
}
.ham_menu-enter-active {
  transition: opacity 0.6s ease-out, transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* 設置淡入和從上方滑進來的動畫 */
  opacity: 1; /* 最終透明度為1 */
  animation: slideInFromTop 0.3s ease-out; /* 應用從上方滑進來的動畫 */
}

/* 滑出效果 */
.ham_menu-leave-active {
  transition: all .4s ease;
}
.ham_menu-leave-active {
  transform: translateY(-100%);
}
.ham_menu-leave {
  transform: translateY(0);
}

// Griddy跑步
@keyframes gogo{
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(35px);
  }
}

/* 樣式修改：在開啟燈箱時禁止滾動頁面 */
.body-overflow-hidden {
  overflow: hidden;
}
