.is_d{
  display: none;
  @include T(){
    display: none;
  }
  @include PC(){
    display: block;
  }
}
.is_m{
  @include T(){
    display: block;
  }
  @include PC(){
    display: none;
  }
}
.about {

  &_row{
    width: 90%;
    margin: auto;
    @include T(){
      width: 80%;
    }
    @include PC(){
      max-width: 1140px;
    }
  }

  // GridIsland簡介
  .about_gi{
    background-color: $orange-1;
    width: 100%;
    // 麵包屑
      .breadcrumb {
        margin: 50px 0px 16px 0px;
        @include PC() {
          margin-top: 100px;
        }
      }
      
      .about_gi_intro{
        background-color: $white-1;
        border-radius: 28px;
        margin: 0px auto 54px auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        @include T(){
          margin: 50px auto 50px auto;
          display: flex;
          flex-direction: row;
        }
        // 手機版title
        .about_gi_text_title_m{
          margin: auto;
          font-weight: bold;
          font-size: $M-h2;
          margin-top: 32px;
          color: $black;   
          @include T(){
            display: none;
          }
        }
        .about_gi_text{
          order: 2;
          @include T(){
            order: -1;
            width: 60%;
            margin: auto 0px;
            
          }
          &_title{
            display: none;
            @include T(){
              width: 80%;
              margin: auto;
              font-weight: bold;
              display: block;
              font-size: $PC-h2;
              color: $black;
            }
          }
          &_content{
            width: 80%;
            margin: 0px auto 40px auto;
            font-size: $M-text;
            letter-spacing: .3px;
            font-weight: 400;
            text-align: justify;
            color: $black;

            @include T(){
              font-size: $PC-text;
            }
          }
        }
        .about_gi_img{
          width: 70%;
          margin: auto;
          @include T(){
            width: 35%;
          }
          img{
            width: 90%;
            vertical-align: bottom;
          }
        }
      }
    }

  // 環境介紹
  &_en{
    width: 100%;
    background-color: $green-2;

    &_section{
      margin: 60px auto;
      >div{
        border-radius: 28px;
        overflow: hidden;
        &:first-child{
          max-height: 400px;
          margin-bottom: 20px;
          img{
            height: 100%;
            transform-origin: bottom;
            object-fit: cover;
          }
        }
        &:nth-child(2){
          padding: 16px;
          h3{
            margin-bottom: 20px;
          }
          .about_re_btn{
            margin: auto;
            width: 150px;
            .btn_lg{
              color: $white-1;
            }
          }
        }
      }

      @include PC(){
        width: 100%;
        margin: 0px auto;
        padding: 100px 0;
        display: flex;        
        >div{
          width: 50%;
          height: 500px;
          // 輪播圖
          &:first-child{
            margin-bottom: 0px;
            margin-right: 20px;
            max-height: none;
          }
          // 說明文字
          &:nth-child(2){
            padding: 40px 40px;
            h3{
              margin-bottom: 20px;
            }
            button{
              margin: 0 auto;
              margin-top: 60px;
            }
          }
        }
      }

      @media screen and (max-width:1064px) and (min-width:1024px) {
        >div{
          height: 480px;
          &:first-child{
            img{
              height: 583px;
            }
          }
          &:nth-child(2){
            padding: 30px 40px;
            h3{
              margin-bottom: 10px;
            }
            button{
              margin-top: 20px;
            }
          }
        }
      }
      
      .about_en_text{
        background-color: $white-1;
        .about_en_text_title{
          margin: 8px auto;
          text-align: center;
          width: 100%;
          h3{
            font-size: $M-h3;
            font-weight: bold;
          }
          
        }
        .about_en_text_content{
          margin: auto;
          width: 100%;
          p{
            margin-bottom: 16px;
            width: 100%;
            text-align: justify;
          }
        }

        button{
          margin: auto;
          text-align: center;
          display: block!important;
        }
      }
    } 
  }
    

  // griddy介紹
  &_griddy{
    background-color: $blue-2;
    margin-bottom: 100px;
    padding: 40px 0px;
    width: 100%;
    .about_griddy_section{
      border: 1px solid yellow;
      margin: auto;
      // width: 90%;
      // background-color: aliceblue;
      @include PC(){
        display: flex;
        width: 100%;
        >div{
          align-items: center;
          width: 50%;
          margin: auto;
          border: 1px solid red;
          // padding: 200px;
        }
      }
      .about_griddy_img{
        width: 50%;
        margin: 0px auto 20px auto;
        // border: 1px solid red;
        // background-color: #ccc;
        @include PC(){
          width: 260px;
        }
        img{
          width: 100%;
          vertical-align: bottom;
        }
      }
      .about_griddy_text{
        padding: 17px;
        // width: 90%;
        border-radius: 28px;
        background: rgba(0, 0, 0, 0.32);
        @include PC(){
          // height: 50%;
          width: 400px;
          margin: auto;
        }

        .about_griddy_title{
        // margin: auto;
        text-align: center;
        // padding-top: 27px;
        // background-color: aquamarine;
        
        h3{
          // margin-top: 38px;
          color: $white-1;
          font-size: $M-h2;
        }
      }
      .about_griddy_content{
        margin: 38px 0px;
        p{
          font-size: $M-text;
          color: $white-1;
          // letter-spacing: 0.3px;
          text-align: center;

          }
        }
      }
      .about_griddy_btn{
        width: 194px;
        margin: auto;
        // margin-bottom: 40px;

        .btn_lg{
          margin: auto;
          color: $white-1;
  
        }
      }
      

    }

  }

    // 店鋪資訊
  &_info{

  }





  // }

} //about
