.board{
  background-color: $blue-2;
  .col-PC-10, .col-T-10, .col-12{
    margin: auto;
  }

  // 麵包屑
  .board_breadcrumb {
    padding-left: 20px;
    margin-top: 50px;
    // margin: 50px 0px 16px 0px;
    @include T() {
      margin-top: 100px;
    }
  }

  // 牙齒區
  .board_tag{
    margin-top: 20px;
    padding: 8px 20px;
    @include T(){
      display: flex;
    }
    @include PC(){
      display: flex;
    }
    .board_tag_btn{
      width: 100%;
      display: flex;
      display: none;
      align-items: end;
      .btn_secondary:first-child{
        background-color: #ff7a00;
      }
      @include T(){
        display: flex;
        width: 50%;
        margin-top: auto;
      }
      a{
        font-size: $small;
        text-align: center;
        margin-right: 8px;
        @include T(){
          font-size: 13px;
        }
        @include PC(){
          font-size: $PC-btn-sl-font;
        }
      }
    }
    .board_article{
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      margin: 16px 0px auto;
      display: flex;
        .btn_lg_orange{
          display: flex;
          margin-bottom: 8px;
        }
        select{
          width: 130px;
          height: 30px;
          border: 1.618px solid #444;
          border-radius: 12px;
          padding: 4px 8px;
          font-size: $M-text;
          outline: none;
          background-color: $white-1;
          color: #444;
          cursor: pointer;
          option{
            font-size: $M-text;
            padding: 8px;
            margin: 4px;
          }
        }
      }
  }

  // 內容區
  &_area{
    margin: auto;
    padding: 0;
    align-items: flex-start;
    margin-bottom: 100px;
    @include T(){
      display: flex;
    }
    .board_card_col{
      // display: none;
      margin: 0px auto;
      width: 100%;
      @include T(){
        display: block;
        width: 50%;
      }
    }
    .--desktop{
      display: none;
      @include T(){
        display: block;
      }
    }
    .--mobile{
      @include T(){
        display: none;
      }
    }
  }
  // 元件
  &_card{
    // border: 10px solid $green-1;
    border: 8px solid $green-1;
    margin: 8px;
    padding: 16px;
    background-color: $white-1;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  //文章區
  &_info{
    position: relative;
  }
  &_id{
    display: flex;
    &_img{
      width: 40px;
      overflow: hidden;
      img{
        border-radius: 50%;
        vertical-align: top;
        width: 100%;
      }
    }
    &_info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 8px;
      .board_memId{
        font-size: $M-h3;
        @include T(){
          font-size: $PC-h4;
        }
        @include PC(){
          font-size: $PC-h4;
        }
      }
      .board_time{
        font-size: $small;
        color: $gray-2;
      }
    }
  }
  &_msg{
    margin: 8px 0;
    white-space: pre-line;
  }
  &_re_type{
    .reply_subtitle{
      margin: 8px 0;
      font-family: 'Noto Sans TC', sans-serif;
      font-size: 14px;
      color: #aaa;
    }
    .board_re_input{
      display: flex;
      border: 1px solid $black;
      border-radius: 10px;
      overflow: hidden;
      input{
        width: 100%;
        outline: none;
        border: none;
        width: 100%;
        height: 32px;
        padding: 8px;
      }
      .board_re_send{
        cursor: pointer;
        outline: none;
        width: 28px;
        margin: auto;
        svg{
          width: 100%;
          color: $blue-2;
          vertical-align: bottom;
          padding: 2px;
          justify-content: center;
          align-items: center;
          filter: brightness(100%);
          &:hover{
            filter: brightness(90%);
          }
        }
      }
    }
  }
  &_all_re{
    margin: 8px 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    svg{
      width: 14px;
      
    }
  }
  &_report{
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    svg{
      width: 100%;
      color: $red;
      :hover{
        color: red;
      }
    }
  }

  // 留言區
  .board_re:not(.--is-always-hide) {
    cursor: default;
  }
  &_re{
    // display: none;
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #aaa;
    max-height: 180px;
    overflow-y: auto;
    // background-color: #ccc;
    &_card{
      border: 1px solid solid red;
      margin: 8px 0px 8px 0px;
      padding-left: 15%;
      .board_re_id{
        margin: 8px 0 4px 0;
        display: flex;
        &_img{
          width: 32px;
          margin: 4px;
          overflow: hidden;
          img{
            border-radius: 50%;
            width: 100%;
            vertical-align: bottom;
          }
        }
        .board_re_id_info{
          .board_re_memId{
            font-size: $M-h4;
          }
          .board_re_time{
            font-size: $small;
          }
        }
      }
      .board_re_msg{
        margin-left: 11%;
      }
    }

    // 留言分隔線
    .board_re_card + .board_re_card::before {
      content: "";
      display: block;
      border-top: 1px solid #aaa;
      margin-top: 8px;
    }
  }

  [disabled]{
    cursor: no-drop;
  }
  
} //board

// 發文燈箱
.light_box{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  .overlay{
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: .5;
  }
  .box{
    background-color: $green-1;
    border: 10px solid $green-2;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    width: 340px;
    @include T(){
      width: 400px;
    }
    @include PC(){
      width: 500px;
    }
    form{
      .board_lb_title{
        font-size: $M-h3;
        color: $black;
        margin-bottom: 8px;
      }
      .board_lb_subTitle {
        color: #5e5e5e;
        font-size: $M-h4;
        margin-bottom: 8px;
      }
      textarea{
        padding: 8px;
        outline: none;
        margin: auto;
        border: 1px solid $gray-2;
        width: 100%;
        @include T(){
          width: 100%;
        }
        @include PC(){
          width: 100%;
        }
      }
      .board_light_box_send{
        display: flex;
        flex-direction: column;
        >div>label{
          cursor: pointer;
        }
        label{
          margin: 8px 0;
          padding: 0 4px;
          font-size: $small;
        }
        button{
          margin-top: 16px;
          background-color: $orange-2;
          border: none;
          outline: none;
          &:hover{
            background-color: #ff9514;
          }
        }
      }
    }
    h3{
      text-align: center;
      margin-bottom: 40px;
    }
    a{
      width: 140px;
      margin: auto;
      // margin: 0;
      // padding: 0;
      align-items: center;
      justify-content: center;
      align-content: center;
      display: flex;
      // display: block;
      text-align: center;
    }
    svg{
      background-color: $white-1;
      border-radius: 50px;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 5px;
      right: 6px;
      vertical-align: bottom;
      cursor: pointer;
      &:hover{
        color: $red;
      }
    }
    >div{
      h3{
        text-align: center;
        margin: 20px auto 60px auto;
      }
      button{
        margin: auto;
        display: flex;
      }
    }
  }
}

//檢舉燈箱
.board_lb_re{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  .board_lb_re_overlay{
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: .5;
  }
  .board_lb_re_box{
    z-index: 1000;
    background-color: $yellow;
    // border: 10px solid $orange-2;
    border: 10px solid $red;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    @include T(){
      width: 40%;
    }
    @include PC(){
      width: 30%;
    }
    form{ 
      display: flex;
      flex-direction: column;
      .board_lb_re_title{
        margin: 8px;
        text-align: center;
        // background-color: #e3993e;
        // margin: auto;
        p{
          font-size: $M-h4;
          color: $black;
        }
      }
      select{
        outline: none;
        border: 1px solid $gray-2;
        border-radius: 5px;
        height: 30px;
        margin: 16px;
        padding: 0px 8px;
      }
      textarea{
        outline: none;
        border: 1px solid $gray-2;
        border-radius: 5px;
        margin: 0px 16px 16px;
        padding: 0px 8px;
      }
      button{
        margin: 16px 16px 0px 16px;
        background-color: $orange-2;
        outline: none;
        border: none;
        &:hover{
          background-color: #ff9514;
        }
      }
    }
    h4{
      text-align: center;
      margin-bottom: 10px;
    }
    .board_close_light_box{
      width: 20px;
      
      svg{
        position: absolute;
        top: 4px;
        right: 5px;
        background-color: $white-1;
        border-radius: 50px;
        width: 24px;
        height: 24px;
        vertical-align: bottom;
        cursor: pointer;
        &:hover{
          color: $red;
        }
      }
    }
    >div{
      h3{
        text-align: center;
        margin: 20px auto 60px auto;
      }
      button{
        margin: auto;
        display: flex;
      }
    }
  }
}

.hide{
  display: none;
}

/* 樣式修改：在開啟燈箱時禁止滾動頁面 */
.body-overflow-hidden {
  overflow: hidden;
}

.board_rotate {
  transition: transform 0.3s ease;  /* 添加轉場效果，時間和過渡方式可以根據需要調整 */
}

.board_rotate.active {
  transform: rotate(180deg);  /* 將圖標旋轉180度 */
}

.--is-always-hide{
  cursor: default;
}
