
.book{
    background-color: $bgc-2;
    padding-bottom: 100px;
    h2{
        text-align: center;
        letter-spacing: 2px;
    }
    .breadcrumb{
        position: relative;
        max-width: $max-width;
        width: 90%;
        margin: auto;
        top: 50px;
        @include PC() {
            top: 100px;
        }
    }

    .book_notice{
        background-color: $black;
        color: $white-1;
        width: 90%;
        max-width: 467px;
        margin: $XXL-spacing auto;
        border-radius: $Mob-card-radius;
        padding: $M-spacing;
        text-align: center;
        @include PC() {
            margin: $XXXL-spacing auto $XXL-spacing;
        }
        h4{
            margin: $S-spacing 0;
            @include PC() {
                margin: $M-spacing 0;
            }
        }
    }
    form{
        .book_date_select, .book_table_select, .book_time_select, .book_select_NumOfPeo, .book_submit{
            width: fit-content;
            margin: auto;
        }
        input[type="date"]{
            margin: auto;
            display: none;
        }

    }

    .book_cal{
        border-radius: $input-radius;
        background-color: $bgc-1;
        color: $blue-4;
        max-width: 450px;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        .book_cal_nav{
            text-align: center;
            display: flex;
            button{
                flex: 0 0 4rem;
                line-height: 4rem;
                background-color: transparent;
                border: none;
                &:hover {
                    color: $orange-1;
                }
                &:disabled{
                    color: $gray-1;
                }
            }
            .book_cal_nav_title{
                display: flex;
                flex: 1 1 auto;
                gap: $S-spacing;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                font-size: 18px;
            }
        }
        $buttonWidth: 30px;
        .book_cal_weekdays{
            width: 100%;
            height: $buttonWidth;
            display: grid;
            box-sizing: border-box;
            padding: 0 1rem;
            grid-template-columns: repeat(7, 1fr);
            text-align: center;
        }
        .book_cal_grid {
            width: 100%;
            display: grid;
            box-sizing: border-box;
            padding: 0 1rem;
            grid-template-columns: repeat(7, 1fr);
        }
        .book_cal_day{
            $buttonWidth: 30px;
            $buttonPCWidth: 40px;
            button{
                display: block;
                margin: 2px auto;
                width: $buttonWidth;
                height: $buttonWidth;
                background-color: transparent;
                border: 0;
                cursor: pointer;
                &:hover {
                    color: $orange-2;
                }
                &:disabled{
                    color: $gray-1;
                    cursor: default;
                }
                &[current="date"] {
                    border: none;
                    background-color: $orange-2;
                    color: $white-1;
                    border-radius: 50%;
                }
            }
            @include T() {
                button{
                    font-size: 16px;
                    width: $buttonPCWidth;
                    height: $buttonPCWidth;
                }
            }
        }
    }

    //桌型
    .book_table_option, .book_time_option{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 20px;
        margin: $L-spacing 0;
        @include T(){
            flex-direction: row;
        }
    }
    .book_options{
        display: flex;
        justify-content: center;
    }
    .book_table_option .book_options label{
        display: block;
        width: 120px;
        padding: $S-spacing $M-spacing;
        background-color: $white-1;
        border-radius: $input-radius;
        cursor: pointer;
        @include T() {
            font-size: 16px;
        }
    }
    .book_time_option .book_options label{
        display: block;
        width: 120px;
        padding: $S-spacing $M-spacing;
        background-color: $white-1;
        border-radius: $input-radius;
        cursor: pointer;
        @include T() {
            width: 140px;
            font-size: 16px;
        }
    }
    .book_options input{
        display: none;
    }
    .bookTableForm{
        display: flex;
        flex-direction: column;
        gap: $L-spacing;
    }
    .book_options label:hover{
        background-color: $orange-2;
        color: $white-1;
    }
    .book_options label[disabled="true"]{
        color: $gray-1;
        cursor: not-allowed;
        &:hover{
            color: $gray-1;
            background-color: #fff;
        }
    }
    .book_options input[type="radio"]:checked + label {
        color: $white-1;
        background-color: $orange-2;
    }
    //人數
    .bookPeople{
        background-color: $white-1;
        border-radius: $input-radius;
        padding: $M-spacing ;
        display: flex;
        align-items: center;
        gap: $XXL-spacing;
        width: fit-content;
        margin: $L-spacing 0;
    }
    .minusPlus{
        border: 1px solid $black ;
        border-radius: $input-radius;
        display: flex;
    }
    .btnMinus,.btnPlus{
        border: 0;
        background-color: $white-1;
        border-radius: $input-radius;
        width: 30px;
        height: 30px;
        font-size: $PC-h3;
        line-height: 0;
    }
    .minusPlus input[type="number"]{
        background-color: $white-1;
        border: 0;
        display: flex;
        text-align: center;
        max-width: 50px;
        padding-left: 16px;
        @include T(){
            padding-left: 20px;
        }
    }
    .book_submit{
        margin:$M-spacing auto $XXXL-spacing;
    }


    .alert_bg {
        background-color: #0006;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 991;
    }
    
    $alertBoxHeight: 40vh;
    $alertCrossHeight: 50px;

    .alert_main {
        background-color: #fff;
        width: 90vw;
        display: flex;
        flex-direction: column;
        height: $alertBoxHeight;
        position: absolute;
        top: 33%;
        left: 5%;
        border-radius: $Mob-card-radius;
        user-select: none;

        @include M() {
            max-width: 600px;
            width: 60vw;
            left: 20%;
            border-radius: $PC-card-radius;
        }

        @include PC() {
            width: 40vw;
            left: 30%;
            border-radius: $PC-card-radius;
        }


        button {
            align-self: flex-end;
            width: $alertCrossHeight;
            height: $alertCrossHeight;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        .alert_main_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: calc(#{$alertBoxHeight} - 1.5* #{$alertCrossHeight});
        }
        p {
            text-align: center;
            font-size: $PC-h4;
            height: 32px;
            margin-top: 4px;
            align-self: center;
        }

    }
}