.cart {
  box-sizing: border-box;
  position: relative;
  color: $black;
  @include PC() {
  }
  .loadingMask {
    z-index: 1000;
    background-color: $black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    .fade-leave-active {
      transition: opacity 0.5s;
    }
    .fade-leave-to {
      opacity: 0;
    }
    .lds-ring {
      display: inline-block;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;

        &:nth-child(1) {
          animation-delay: -0.45s;
        }

        &:nth-child(2) {
          animation-delay: -0.3s;
        }

        &:nth-child(3) {
          animation-delay: -0.15s;
        }
      }
    }

    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
  .cartInfoArea {
    @include PC() {
      max-width: $max-width;
      margin: auto;
      display: flex;
    }
    .cartContent {
      border-bottom: 1px solid $black;

      padding-bottom: $S-spacing;
      margin: 0 $S-spacing;
      @include PC() {
        padding-right: $XXL-spacing;
        width: 60%;
        border-bottom: none;
        border-right: 1px solid $black;
      }
      .cartItemContent {
        padding: $S-spacing;

        .cartItemTitle {
          @include PC() {
            h2 {
              font-size: 10px;
            }
          }
          h3 {
            font-size: $M-h3;
          }
        }
        .cartItemArea {
          .cartItemBlock {
            padding: $S-spacing 0;
            width: 100%;
          }
          .continueShopping {
            a {
              color: $black;
              display: flex;
              .leftArrow {
                width: 10px;
              }
            }
          }
          .emptyCart {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: $S-spacing;
            @include PC() {
              top: 40px;
            }
            .emptyCartIconArea {
              .emptyCartIcon {
                width: 60px;
                color: $orange-1;
              }
            }
            .promptGroup {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              row-gap: $S-spacing;
              .promptText {
                p {
                  font-size: $M-h3;
                  @include PC() {
                    font-size: $PC-h3;
                  }
                }
              }
              .goToShopBtn {
                a {
                  display: flex;
                }
              }
            }
          }
        }
      }
      .buyingSelectArea {
        padding: $S-spacing;
        .discountCode {
          position: relative;
          display: flex;
          flex-direction: column;
          row-gap: $S-spacing;
          .discountCodeTitle {
            h3 {
              font-size: $M-h3;
            }
          }

          .discountCodeInputBtn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .discountCodeInput {
              width: 60%;
              input {
                border: 1px solid $black;
                padding: $S-spacing;
                height: 30px;
                width: 100%;
                border-radius: 10px;
              }
            }
          }
        }
        .deliveryMethod {
          display: flex;
          flex-direction: column;
          row-gap: $S-spacing;
          position: relative;
          .deliveryWarning {
            position: absolute;
            top: 10px;
            right: 0;
            p {
              color: $red;
            }
          }
          .deliveryMethodTitle {
            h3 {
              font-size: $M-spacing;
            }
          }
          .deliveryMethodSelect {
            width: 100%;
            select {
              width: 100%;
              height: 30px;
              border-radius: 10px;
            }
          }
        }
      }
    }
    .priceContent {
      margin: 0 $S-spacing;
      padding: $S-spacing 0;

      @include PC() {
        width: 40%;
      }
      .priceArea {
        @include PC() {
          margin-top: $XL-spacing;
          position: sticky;
          top: 80px;
          right: 0px;
        }
        display: flex;
        flex-direction: column;
        row-gap: $S-spacing;
        .subtotal {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .subtotalTitle {
            p {
              font-size: $M-text;
            }
          }
          .subtotalAmount {
            p {
              font-size: $M-text;
            }
          }
        }
        .deliveryPrice {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .deliveryPriceTitle {
            p {
              font-size: $M-text;
            }
            .deliveryPriceAmount {
              p {
                font-size: $M-text;
              }
            }
          }
        }
        .discount {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .discountTitle {
            p {
              font-size: $M-text;
            }
          }
          .discountAmount {
            display: flex;
            font-size: $M-text;
          }
        }
        .totalPrice {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: $M-h3;
          margin-top: $S-spacing;
        }
        .checkOutBtn {
          cursor: not-allowed;
          button {
            display: flex;
            width: 100%;
            border: none;
            &:hover {
              color: $white-1;
            }
          }
          .disableBtn {
            pointer-events: none;
            background-color: $gray-2;
          }
        }
      }
    }
  }
  .recProduct {
    padding: $L-spacing 0 $XXL-spacing 0;
    display: flex;
    flex-direction: column;
    row-gap: $M-spacing;
    @include PC() {
      max-width: $max-width;
      margin: auto;
    }
    .recProductTitle {
      text-align: center;
    }
    .recProductList {
      display: flex;
      column-gap: $M-spacing;
      overflow: auto;
      .recProductPic {
        img {
          object-fit: contain;
          width: calc(1200px / 4 - $M-spacing);
          height: calc(1200px / 4 - $M-spacing);
        }
      }
    }
  }
}
