#style-body {
    background-color: $gray-1;
    height: 100%;
    padding: 20px 0;


    #style-play-zone {
        margin: 0;
        display: flex;
        flex-direction: column;
        @include T(){
            flex-direction: row;
            gap: 20px;
            // background-color: #777;
            height: auto;
            // align-items: stretch
            margin: 0 20px;
        }

        #style-operate {
            //操作區，含預覽、按鈕區
            display: flex;
            background-color: $white-1;
            width: calc(100% - 40px);
            margin: 0 auto 20px auto;
            align-items: end;
            flex-wrap: wrap;
            border-radius: 28px;
            gap: 20px;
            justify-content: center;
            box-sizing: border-box;
            padding: 20px;

            @include T() {
                // flex-wrap: nowrap;
                // background-color: aquamarine;  
                align-items: start;
                height: 100%;
                width: auto;
                box-sizing: border-box;
                // flex-grow: 1;

                
            }

            .style-view {
                //預覽區的容器
                width: 100%;
                background-color: $white-1;
                display: flex;
                align-items: start;
                box-sizing: border-box;
                gap: 20px;
                align-items: end;
                justify-content: center;

                @include T() {
                    width: 240px;
                    justify-content: start;
                    

                }

                .viewimagebox {
                    //預覽區，蟲蟲圖
                    width: 100%;
                    height: 100%;
                    width: 240px;
                    height: 240px;
                    outline: 1.618px solid #000;

                    @include T() {}
                }
            }

            .btnbox {
                //按鈕區，隨機選擇、重置、確認送出
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                // background-color: #6af;
                width: 100%;
                gap: 12px;
                @include text;

                @include T() {
                    max-width: 400px;
                    // background-color: salmon;
                }

                #reset {
                    width: calc(50% - 6px);
                    background-color: $white-1;
                    border: 1px solid $orange-2;
                    color: $orange-2;
                    padding: 2px 0;
                    border-radius: 8px;

                    &:hover {
                        background-color: darken($white-1, 5%);
                    }
                    &:active {
                        background-color: darken($white-1, 5%);
                    }
                    @include T() {
                        padding: 8px 0;
                    }
                }

                #random {
                    width: calc(50% - 6px);
                    background-color: $white-1;
                    border: 1px solid $orange-2;
                    color: $orange-2;
                    padding: 2px 0;
                    border-radius: 8px;

                    &:hover {
                        background-color: darken($white-1, 5%);
                    }

                    &:active {
                        background-color: darken($white-1, 5%);
                    }
                    @include T() {
                        padding: 8px 0;
                    }
                }

                #setphoto {
                    width: calc(100%);
                    background-color: $orange-2;
                    border: 1px solid $orange-2;
                    color: $white-1;
                    padding: 2px 0;
                    border-radius: 8px;
                    @include T() {
                        padding: 8px 0;
                    }

                    &:hover {
                        background-color: darken($orange-2, 10%);
                    }

                    &:active {
                        background-color: darken($orange-2, 10%);
                    }
                }
            }
        }
    }

    #show-zone {
        // 送出後的頁面，v-show
        width: calc(100% - 40px);
        height: 800px;
        background-color: #fff;
        margin: auto;
        border-radius: 28px;
        padding: 20px 0;

        .final-show {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            #finalimagebox {
                // 送出後的預覽圖
                position: relative;
                min-width: 240px;
                min-height: 240px;
                max-width: 240px;
                max-height: 240px;
                outline: 1.618px solid #000;
                margin: 20px auto;

            }

            span {
                //最棒的Griddy粉墨登場！
                font-family: noto;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: .05em;
            }
            .finalbtnbox{
                width: 240px;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                
        
                #setPicture{
                    width: calc(100%);
                    padding: 4px 0;

                }
                #download {
                    width: calc(50% - 4px);
                    padding: 4px 0;

                }
                #goback {
                    width: calc(50% - 4px);
                    padding: 4px 0;


                }


            }
        }
    }

    .stylearea {
        // 下半部的選擇區，包含頁籤與部位組件

        width: calc(100% - 40px);
        height: 1000px;
        margin: auto;

        .tabs {
            display: flex;
            justify-content: space-between;
            margin: 0;
            gap: 8px;

            @include T() {
                gap: 20px;
                justify-content: center;
                // width: calc(100% - 20px);
                
            }

            button {
                @include text;
                flex-grow: 1;
                padding: 4px 0;
                width: auto;
                cursor: pointer;
                background-color: $gray-2;
                color: #fff;
                border: none;
                border-radius: 12px 12px 0 0;

                &:hover {
                    background-color: $blue-2;
                }

                &:active {
                    background-color: darken($blue-2, 10%);
                }



                @include T() {
                    flex-grow: 1;
                    border-radius: 16px 16px 0 0;
                    padding: 10px 0;
                }

            }

            .active {
                background-color: $blue-2;
            }
        }

        .componentsarea {
            //頁籤內容統一樣式
            background-color: $white-1;
            box-sizing: border-box;
            padding: $M-spacing;
            border-radius: 0 0 28px 28px;
            display: flex;
            flex-direction: column;
            gap: 12px;

            @include T() {
                padding: 40px;
            }

            .colors-box {
                // background-color: salmon;
                display: flex;
                flex-direction: column;
                gap: 4px;

                .options-colors {
                    // background-color: #fa0;
                    display: flex;
                    // width: 100%;
                    width: calc(100% + 40px);
                    transform: translateX(-20px);
                    overflow-x: auto;
                    justify-content: start;
                    gap: 12px;
                    box-sizing: border-box;
                    padding: 3px 23px 3px 23px;


                    @include T() {
                        transform: translateX(0);
                        width: 100%;
                        overflow: visible;
                        flex-wrap: wrap;
                        gap: 16px;
                        padding: 3px 3px 3px 3px;
                    }

                    li {
                        box-shadow: inset 0 4px 3px #0002;
                        // 顏色選擇統一樣式
                        width: 48px;
                        height: 48px;
                        outline: 2px solid #0002;
                        border-radius: 200px;
                        cursor: pointer;
                        border: 3px solid #fff;
                        flex-shrink: 0;
                        /* 防止 li 被压缩 */
                        margin: 2px 0px 8px 0px;

                        @include T() {}
                    }

                    .active {
                        outline: 2.8px solid $blue-2;

                    }
                }
            }

            .staff-box {
                // background-color: aqua;
                display: flex;
                flex-direction: column;
                gap: 8px;

                .options-staff {
                    // 零件選擇統一樣式
                    box-sizing: border-box;
                    padding: 3px 23px 3px 23px;
                    display: flex;
                    column-gap: $M-spacing;
                    row-gap: 20px;
                    column-gap: 16px;
                    flex-wrap: nowrap;
                    // background-color: #fa0;
                    overflow: auto;
                    width: calc(100% + 40px);
                    transform: translateX(-20px);
                    @include T() {
                        transform: translateX(0);
                        width: 100%;
                        overflow: visible;
                        flex-wrap: wrap;
                        gap: 16px;
                        padding: 3px 3px 3px 3px;
                    }

                    button {
                        @include text;
                        color: #777;
                        width: calc(25%);
                        height: 40px;
                        border: 0px solid transparent;
                        cursor: pointer;
                        outline: 1.618px solid #0002;
                        border-radius: 12px;
                        background-color: #fff;
                        padding: 24px 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-shrink: 0;
                        margin: 2px 0px 8px 0px;

                        @include T() {
                            width: calc(25% - 12px);
                        }
                    }

                    .active {
                        outline: 2.8px solid $blue-2;
                        color: #444;
                        font-weight: 500;
                    }
                }

            }
        }
    }







    #mainSvg {
        position: relative;

        .SVGSTAFF {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // 半透明黑色背景
  
    .modal-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      width: 90%;
      max-width: 400px;
  
      .close-button {
        float: right;
        font-size: 1.5rem;
        line-height: 1rem;
        cursor: pointer;
      }
  
      p {
        margin: 20px 0;
      }
  
      .modal-actions {
        display: flex;
        justify-content: space-around; // 操作按鈕平均分布
  
        button {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          background-color: #007bff;
          color: white;
  
          &:hover {
            background-color: darken(#007bff, 10%); // 深藍色背景懸停效果
          }
        }
      }
    }
  }
  