#style-body {
    background-color: $gray-1;
}
.style-view {
    width: calc(100% - 40px);
    margin: auto;
    background-color: $white-1;
    display: flex;
    align-items: start;
    box-sizing: border-box;
    padding: $M-spacing;
    #viewimagebox {
        width: 100%;
        max-width: 240px;
        max-height: 240px;
        border: 1px solid #000;
    }
}
.tabs button {
    padding: 10px;
    cursor: pointer;
  }
  .tabs button.active {
    font-weight: bold;
  }


.stylearea { // 選擇區
    width: calc(100% - 40px);
    height: 1000px;
    margin: auto;
}
.componentsarea { //頁籤統一樣式
    background-color: $white-1;
    box-sizing: border-box;
    padding: $M-spacing;
}


.options-colors li {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.options-staff{
display: flex;
column-gap: $M-spacing;
row-gap: $S-spacing;
flex-wrap: wrap;

    button{
        width: calc( 33.3333% - 20px);
        height: 40px;
        border: 2px solid transparent;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 8px;
        @include T() {
            width: calc( 16.333333% - 16.333333px);
          }

    }
}

.options-colors li.selected {
    border: 1px solid#000;
}

#mainSvg{
    position: relative;
    .SVGSTAFF {
        position: absolute;
        top: 0;
        right: 0;
    }
}

