.index_row{
  width: 90%;
  margin: auto;
  @include T(){
    width: 80%;
  }
  @include PC(){
    max-width: 1140px;
  }
}
main {

  //banner
  .header_banner {
    width: 100%;
    display: flex;
    position: relative;
    padding: 0 0 4.8% 0;
    background-image: 
      linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(180deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(to top, $blue-1, $blue-2, $blue-2);
    background-size: 40px 40px, 40px 40px, cover;
    background-repeat: repeat, repeat, no-repeat;



    #main-banner {
      width: 72%;
      margin: auto;
    }

    #tree-svg {
      width: 13.9%;
      position: absolute;
      left: 28.15%;
      top: 3.1%;
      /* display: none; */
    }

    #tree-svg:hover {
      filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
    }

    .showCard {
      //卡片統一樣式
      padding: $M-spacing;
      background-color: $white-1;
      outline: 2px solid $black;
      box-shadow:
        0 0 0 4px #fff;
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $S-spacing;
      color: $black;

      .card-title {
        font-size: $PC-h2;
        font-family: Zen Maru Gothic;
      }

      .card-line {
        width: calc(100% - 8px);
        height: 1px;
        background-color: $orange-1;
      }

      .card-text {
        font-size: $PC-text;
      }

      @include M() {
        .card-title {
          font-size: $M-h2;

        }
        .card-text {
          font-size: $M-text;
        }
      }
    }

    #treeCard {
      //會員中心，樹
      position: absolute;
      left: 40px;
      top: 10%;
      border: $M-spacing solid $blue-1;
    }

    #commentCard {
      //留言板，留言板
      position: absolute;
      left: 40px;
      top: 20%;
      border: $M-spacing solid $orange-1;
    }

    #newsCard {
      //最新消息
      position: absolute;
      left: 40px;
      top: 30%;
      border: $M-spacing solid $green-1;
    }

    #cartCard {
      //購物車
      position: absolute;
      left: 40px;
      top: 40%;
      border: $M-spacing solid $red;
    }

    #signCard {
      //關於我們，招牌
      position: absolute;
      right: 40px;
      top: 10%;
      border: $M-spacing solid $yellow;
    }

    #gamesCard {
      //所有商品
      position: absolute;
      right: 40px;
      top: 25%;
      border: $M-spacing solid $purple;
    }

    #reserveCard {
      //場地預約
      position: absolute;
      right: 40px;
      top: 40%;
      border: $M-spacing solid $green-2;
    }

    #news {
      width: 8.37%;
      position: absolute;
      left: 33.95%;
      top: 39.5%;
    }

    #news:hover {
      filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
    }

    #comment {
      width: 8.26%;
      position: absolute;
      left: 37.63%;
      top: 31%;
      // opacity: 20%;
    }

    #comment:hover {
      filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
    }

    #roof {
      width: 24.4%;
      position: absolute;
      left: 38.35%;
      top: 17.58%;

    }

    #sign {
      width: 15.95%;
      position: absolute;
      left: 43.8%;
      top: 13.5%;
    }

    #sign:hover {
      filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
    }

    #games {
      width: 12.25%;
      position: absolute;
      left: 53.8%;
      top: 29.75%;
    }

    #games:hover {
      filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
    }

    #reserve {
      width: 10.8%;
      position: absolute;
      left: 64.15%;
      top: 39.15%;

    }

    #reserve:hover {
      filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
    }

    #cart {
      width: 7.76%;
      position: absolute;
      left: 41.7%;
      top: 56.3%;
    }

    #cart:hover {
      filter: drop-shadow(0px 0px 4px #fff) drop-shadow(0px 0px 12px #fff);
    }

    #bar {
      width: 9.58%;
      position: absolute;
      left: 44.3%;
      top: 49.575%;
      // opacity: 20%;
    }

    #bug {
      // 蟲蟲
      width: 9.67%;
      position: absolute;
      left: 45.3%;
      top: 30.18%;
      // opacity: 20%;
    }

    #lEye {
      width: 0.68%;
      position: absolute;
      left: 51.5%;
      top: 38.5%;
      transition: left 0.1s ease, top 0.1s ease;
    }

    #rEye {
      width: 0.63%;
      position: absolute;
      left: 53.25%;
      top: 38.05%;
      transition: left 0.1s ease, top 0.1s ease;
    }

    #headerWave {
      position: absolute;
      bottom: -1px;
      z-index: 950;
    }

  }

  // header + 波浪圖

  //內容
  .index{
    width: 100%;
    // 所有商品
    .index_products {
      width: 100%;
      height: 200px;
      background-color: $red;
    }

    // 服務項目
    .index_service {
      width: 100%;
      height: 200px;
      background-color: $blue-2;
    }

    //預約方式
    .index_reserve {}

    // Griddy造型屋
    .index_griddy {}

    // 最新消息
    .index_news {}

    // 一起遊樂 IG API
    .index_insta {}

    // Grid Island 關於我們
    .index_about {}


  }
} //index

//main