.Member{
    width: 100%;
    background-color: $green-1;
    padding-bottom: 15%;
    
    .hello{
        text-align: center;
        margin: $M-spacing;
    }
    .memberMain{
        padding-top: 12%;
        display: flex;
        gap: $M-spacing;
        justify-content: center;
        display: none;
        @include T(){
            display: flex;
        }

    }
    .memberContentIndex{
        background-color: $white-1;
        border-radius: $PC-card-radius;
    }
    .memberOrderTitle{
        display: flex;
        align-items: center;
        
    }
    .memberOrderTitle img,.memberBookTitle img{
        width: 100%;
        max-width: 36px;
        vertical-align: top;
    }
    .memberOrderNotFin,.memberOrderFinished{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .memberOrder{
        display: flex;
        flex-wrap: wrap;
        padding: $M-spacing;
        margin: $M-spacing;
        gap: $XXL-spacing;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 25px;
        background-color: $gray-1;
    }
    .memberLookOrder,.memberLookBook{
        border-radius: $S-button-radius;
        padding: 0 $M-spacing;
    }
    // PC版預約紀錄
    .PC_BookData{
        padding: 20px;
        border-radius: 40px;
        background-color: $white-1;
        .content {
            background-color: $gray-1;
            // padding: $M-spacing;
            border-radius: 25px;

            .memberBook{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: $M-spacing;
                // margin: $M-spacing;
                background-color: $gray-1;
                border-radius: 25px;
                gap: $M-spacing 0;
            }
            .memberBookTitle{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .membertop{
                display: flex;
                justify-content: center;
                margin: $M-spacing 0;
            }
            .memberBooklog{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                gap: $M-spacing;
                padding: $M-spacing;
                background-color: $white-1;
                border-radius:25px;
            }
            .dateAndCancel{
                display: flex;
                justify-content: space-between;
            }
            .selectedTime{
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                justify-content: space-between;
                align-items: center;
        
            }
            .chooseTime{
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid $blue-3;
                border-radius: $S-button-radius;
                padding: 0 $S-spacing;
            }
            .disabled {
                opacity: 0.5;  /* 或其他禁用樣式 */
                background-color: $gray-2;
                cursor: not-allowed;
            }
        
        }



    }
    //會員中心首頁
    .memberContentIndex{
        .memberBook{
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: $gray-1;
            margin: $M-spacing;
            padding: $M-spacing;
            border-radius: 26px;
            .memberBookTitle{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .membertop{
                border-radius: 26px;
                display: flex;
                justify-content: space-between;
        
            }
            .memberBooklog{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                gap: $M-spacing;
                padding: $M-spacing;
                background-color: $white-1;
                border-radius: 25px;
            }
            .dateAndCancel{
                display: flex;
                justify-content: space-between;
            }
            .selectedTime{
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                // justify-content: space-between;
                gap: 20px;
                align-items: center;
            }
            .numPeople{
                margin-left: 35px;
            }
            .chooseTime{
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid $blue-3;
                border-radius: $S-button-radius;
                padding: 0 $S-spacing;
            }
            .disabled {
                opacity: 0.5;  /* 或其他禁用樣式 */
                background-color: $gray-2;
                cursor: not-allowed;
            }
        }
    
    }

    //手機板
    .memberMobile{
        padding-top: 15%;
        display: flex;
        flex-direction: column;
        gap: $M-spacing;
        align-items: center;
        justify-content: center;

        @include T(){
            display: none;

        }
    }
    .memberMainMobile{
        width: 100%;
        max-width: 360px;
        display: flex;
        flex-wrap: wrap;
        gap: $S-spacing;
        justify-content: center;
        align-items: center;
        background-color: $white-1;
        border-radius: $PC-card-radius;
        padding: $S-spacing;
    }
    .mobileContent{
        display: flex;
        gap: $S-spacing;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid $blue-3;
        border-radius: $S-button-radius;
        padding:$S-spacing $XS-spacing;
        width: 100%;
        max-width: 100px;
        background-color: $gray-1;
        &:hover {
            border: 1px solid rgba($color: $gray-1, $alpha: 0);
            background-color: $blue-3;
            color: $white-1;
        
            img {
            filter: invert(100%);
            }
        }
    }
    .mobileContent img{
        width: 100%;
        max-width: 36px;
        vertical-align: top;
    }
    .mobileMember img{
        width: 100%;
        max-width: 100px;
        vertical-align: top;
    }
    .mobileMember{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white-1;
        max-width: 360px;
        width: 100%;
        border-radius: $PC-card-radius;
        padding: $M-spacing;
        gap: $M-spacing;

    }
    //手機板會員資料修改
    .mobileEditData{
        background-color: $white-1;
        // margin: 10px;
        // box-sizing: border-box;
        padding: 10px;
        border-radius: 30px;
        margin: $M-spacing;
        
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $gray-1;
            border-radius: 20px;
            margin: 5px;
            @include T(){
                display: none;
            }
        }
        .title{
            display: flex;
            justify-content: center;
            padding: 20px;
            img {
                max-width: 36px;
                // width: 100%;
                vertical-align: middle;
            }
        }
        .content{
            display: flex;
            flex-direction: column;
            margin: 0 $M-spacing;
        }

        input:not([type="submit"]):not([type="radio"]){
            width: 100%;
            max-width:700px;
            margin: 4px 0 10px;
        }
        span, label {
            letter-spacing: $PC-btn-esl-spacing;
            color: $blue-4;
            font-size: $PC-text;
        }
        input {
            border-radius: 8px;
            border: .5px solid $gray-2;
            padding: 5px 15px;
            letter-spacing: $PC-btn-esl-spacing;
        }
        .submit {
            width: 100%;
            max-width:fit-content;
            margin-left: auto;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        //修改radio預設樣式
        input[type="radio"] {
            display: none;
        }

        input[type="radio"] + label {
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            display: inline-block;
            line-height: 20px;
        }
    
        input[type="radio"] + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            border: 1.8px solid $blue-4;
            background-color: $white-1;
            border-radius: 50%;
            transition: all 0.2s;
        }
        
        input[type="radio"]:checked + label:before {
            background-color: $blue-4; 
        }
        .genderRadio {
            margin: 8px 0 10px;
            label {
                padding: 0 20px 0 5px;
            }
        }
    }

    //手機板訂單資訊
    .mobileOrderData{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $gray-1;
        border-radius: $PC-card-radius;
        margin: $M-spacing;
        padding: $S-spacing;

        @include T(){
            display: none;
        }
    }
    .OrderDataTitle {
        display: flex;
        justify-content: center;
    }
    .OrderDataTitle img{
        width: 100%;
        max-width: 36px;
        vertical-align: top;
    }
    .ContentTitle{
        display: flex;
        justify-content: space-between;
    }
    .OrderDataList{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $white-1;
        border-radius: $M-button-radius;
        padding:$M-spacing ;
        gap:$M-spacing ;


    }
    .orderSimple{
        display: flex;
        justify-content: space-between;
    }
    .OrderDataContent{
    }
    .orderMain{
        display: flex;
        flex-direction: column;
        gap: $M-spacing;
        padding:$M-spacing ;
    }
    .OrderDataDetail{
        display: flex;
        flex-direction: column;
    }
    .OrderDataDetail img{
        width: 100%;
        max-width: 70px;
        border-radius: $S-button-radius;
    }
    .NameTotal{
        display: flex;
        align-items: center;
        gap: $S-spacing;
        border-top: 1px solid #000;
        padding: $M-spacing 0;
    }
    .orderPriceNumTotal{
        display: flex;
        justify-content: space-between;

    }
    .orderItem{
        width: 100%;
    }

    //手機板會員預約紀錄
    .mobileBookData{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $gray-1;
        border-radius: $PC-card-radius;
        margin: $M-spacing;
        padding: $S-spacing;
        gap: $M-spacing;
        @include T(){
            display: none;
        }
        
    }
    .bookDataTitle{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $M-spacing;
    }
    .bookDataTitle img{
        width: 100%;
        max-width: fit-content;
        vertical-align:top;
    }
    .mobileBookDateCancel{
        display: flex;
        justify-content: space-between;
    }
    .mobileBookTime{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: $M-spacing;
        max-width: 260px;
    }
    .bookDataContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $M-spacing;
        padding: $M-spacing;
        margin:  $M-spacing;
        border-radius: $PC-card-radius;
        background-color: $white-1;
    }
    //電腦版會員資料修改
    .PC_EditData{
        padding: 20px;
        border-radius: 40px;
        background-color: $white-1;
        .content {
            background-color: $gray-1;
            padding: $M-spacing;
            border-radius: 25px;

            .title{
                display: flex;
                justify-content: center;
                padding: 20px 0;
                margin-bottom: 20px;

                img{
                    width: 100%;
                    max-width: 36px;
                    vertical-align: middle;
                }
            }

            .dataContent{
                display: flex;
                flex-direction: column;

                //修改radio預設樣式
                input[type="radio"] {
                    display: none;
                }

                input[type="radio"] + label {
                    position: relative;
                    padding-left: 30px;
                    cursor: pointer;
                    display: inline-block;
                    line-height: 20px;
                }
            
                input[type="radio"] + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    border: 1.8px solid $blue-4;
                    background-color: $white-1;
                    border-radius: 50%;
                    transition: all 0.2s;
                }
                
                input[type="radio"]:checked + label:before {
                    background-color: $blue-4; 
                }
            

                input:not([type="submit"]):not([type="radio"]){
                    width: 100%;
                    max-width:700px;
                    padding: 5px 15px;
                    border-radius: 8px;
                    border: 0.5px solid $gray-2;
                    letter-spacing: $PC-btn-esl-spacing;
                }
                input:not(.searchBtn) {
                    margin-bottom: 15px;
                }
                span,label {
                    letter-spacing: $PC-btn-esl-spacing;
                    padding: 0 0 4px 10px;
                    color: $blue-4;
                    font-size: $PC-text;
                }
                .genderRadio {
                    padding: 10px 20px 10px;
                    label {
                        padding: 0 30px 0 5px;
                    }
                }
                .email {
                    cursor: not-allowed;
                }
                .searchBtn {
                    margin-left: auto;
                    margin-top: 60px;
                }
            }

        }
    }
    //PC版訂單資訊
    .PC_OrderData{
        background-color: $white-1;
        border-radius: $PC-card-radius;
        padding: $M-spacing;
        .content{
            background-color: $gray-1;
            padding: $M-spacing;
            border-radius: 25px;

            .PC_OrderDataTitle {
                display: flex;
                justify-content: center;
                margin: $M-spacing;
            }
            .PC_OrderDataTitle img{
                width: 100%;
                max-width: 36px;
            }
            .PC_ContentTitle{
                display: flex;
                gap: $XL-spacing;
                padding: $M-spacing;
            }
            .PC_ContentTitle p{
                width: 60px;
                text-align: center;
            }
            .PC_orderListText{
                display: flex;
                gap: $XL-spacing;
                justify-content: space-around;
                @include T(){
                    gap: $L-spacing;
                }
                @include PC(){
                    gap: $XL-spacing;
                }
            }
            .PC_orderListText p{
                text-align: center;
                width: 60px;
            }
            .PC_orderSimple{
                display: flex;
                justify-content: space-between;
                margin: $M-spacing;
                align-items: center;
        
            }
            .PC_ContentTitle p:last-child{
                width: 60px;
            }
            .PC_NameTotal{
                display: flex;
                align-items: center;
                border-top: 1px solid $blue-3;
                padding: $M-spacing $S-spacing;
            }
            .PC_NameTotal img{
                width: 100%;
                max-width: 150px;
                vertical-align: top;
            }
            .PC_orderPriceNumTotal{
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 800px;
                padding: 0 $M-spacing;
            }
            .PC_orderPriceNumTotal p{
                display: flex;
                flex-wrap: wrap;
                width: 60px;
            }
            .PC_OrderDataList{
                background-color: $white-1;
                border-radius: 25px;
                padding: $M-spacing 0;
            }
            .PC_orderMain{
                display: flex;
                flex-direction: column;
                gap: $M-spacing;
            }
        

        }
    }
    .btn_sm_1{
        height: auto;
        padding: $S-spacing;
    }















}