.Member{
    width: 100%;
    background-color: $green-1;
    padding-bottom: 15%;
    
    h3{
        text-align: center;
        margin: $M-spacing;
    }
    .memberMain{
        padding-top: 15%;
        display: flex;
        gap: $M-spacing;
        justify-content: center;
        display: none;
        @include T(){
            display: flex;
        }
    
    
    }
    .memberContent{
        background-color: $white-1;
        border-radius: $PC-card-radius;
    }
    .memberOrderTitle{
        display: flex;
        align-items: center;
        
    }
    .memberOrderTitle img,.memberBookTitle img{
        width: 100%;
        max-width: 36px;
        vertical-align: top;
    }
    .memberOrderNotFin,.memberOrderFinished{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .memberOrder{
        display: flex;
        padding: $M-spacing;
        margin: $M-spacing;
        gap: $XXL-spacing;
        justify-content: space-evenly;
        align-items: center;
        border-radius: $PC-card-radius;
        background-color: $gray-1;
    }
    .memberLookOrder,.memberLookBook{
        border-radius: $S-button-radius;
        padding: 0 $M-spacing;
    }
    .memberBook{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: $M-spacing;
        margin: $M-spacing;
        background-color: $gray-1;
        border-radius: $PC-card-radius;
        gap: $M-spacing;
    }
    .memberBookTitle{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .membertop{
        display: flex;
        justify-content: space-between;
    }
    .memberBooklog{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: $M-spacing;
        padding: $M-spacing;
        background-color: $white-1;
        border-radius: $PC-card-radius;
    }
    .dateAndCancel{
        display: flex;
        justify-content: space-between;
    }
    .selectedTime{
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;

    }
    .chooseTime{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $blue-3;
        border-radius: $S-button-radius;
        padding: 0 $S-spacing;
    }
    .disabled {
        opacity: 0.5;  /* 或其他禁用樣式 */
        background-color: $gray-2;
        cursor: not-allowed;
    }

    //手機板
    .memberMobile{
        padding-top: 15%;
        display: flex;
        flex-direction: column;
        gap: $M-spacing;
        align-items: center;
        justify-content: center;

        @include T(){
            display: none;

        }
    }
    .memberMainMobile{
        width: 100%;
        max-width: 360px;
        display: flex;
        flex-wrap: wrap;
        gap: $S-spacing;
        justify-content: center;
        align-items: center;
        background-color: $white-1;
        border-radius: $PC-card-radius;
        padding: $S-spacing;

       
    }
    .mobileContent{
        display: flex;
        gap: $S-spacing;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid $blue-3;
        border-radius: $S-button-radius;
        padding:$S-spacing $XS-spacing;
        width: 100%;
        max-width: 100px;
        background-color: $gray-1;
        &:hover {
            border: 1px solid rgba($color: $gray-1, $alpha: 0);
            background-color: $blue-3;
            color: $white-1;
        
            img {
            filter: invert(100%);
            }
        }
    }
    .mobileContent img{
        width: 100%;
        max-width: 36px;
        vertical-align: top;
    }
    .mobileMember img{
        width: 100%;
        max-width: 100px;
        vertical-align: top;
    }
    .mobileMember{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white-1;
        max-width: 360px;
        width: 100%;
        border-radius: $PC-card-radius;
        padding: $M-spacing;
        gap: $M-spacing;

    }











}