.newsArticle {

  .content {
      margin-top: $M-spacing ;
      margin-bottom: $XL-spacing ;
      display: flex;
      flex-direction: column;
      max-width: $max-width;
      @include T(){
        padding: 0 $XL-spacing;
        max-width: 1500px;
        margin:  $XXL-spacing auto $XXXL-spacing;
      }
      .title {
        margin: auto;
        padding: 0 $M-spacing;
        letter-spacing: $PC-btn-sl-spacing;
        @include T(){
          padding: 0 $XXL-spacing;

        }

      }
      .newsImg {
        padding: 0 $M-spacing;

        @include T(){
          padding: 0 $M-spacing;
        }
      }
      .textContent {
        order: 2;
        letter-spacing: $PC-btn-esl-spacing;
        padding: 0 $L-spacing;
        font-size: $PC-text;
        @include T(){
          padding: $M-spacing $XL-spacing;
          font-size: $PC-text;
          
        }

      }
      .date {
        padding: 0 $M-spacing $S-spacing;
        order:1 ;
        margin-left: auto;
        letter-spacing: $PC-btn-exsl-spacing;
        @include T(){
          padding: $M-spacing $L-spacing;

        }
      }



  }



}
