.news {
  background-color: $blue-1;
  .loadingMask {
    z-index: 1000;
    background-color: $black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    .fade-leave-active {
      transition: opacity 0.5s;
    }
    .fade-leave-to {
      opacity: 0;
    }
    .lds-ring {
      display: inline-block;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;

        &:nth-child(1) {
          animation-delay: -0.45s;
        }

        &:nth-child(2) {
          animation-delay: -0.3s;
        }

        &:nth-child(3) {
          animation-delay: -0.15s;
        }
      }
    }

    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
  .content {
    margin-top: $XXL-spacing;
    margin-bottom: $XXXL-spacing;
    .btn {
      display: flex;
      justify-content: flex-end;
      padding: 20px 40px 20px 0;
      gap: 10px;

      .thBtn {
        width: 40px;
        &:hover {
          cursor: pointer;
        }
      }
      .listBtn {
        width: 40px;
        &:hover {
          cursor: pointer;
        }
      }
      .svg-inline--fa {
        width: 100%;
        // height: 40px;
      }
    }
    @include T() {
      max-width: 1500px;
      margin: $XXL-spacing auto $XXXL-spacing;
    }

    .noneShow {
      display: none;
    }

    .cardList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      justify-items: flex-start;
      gap: $M-spacing calc($S-spacing + $S-spacing);

      @include T() {
        gap: $L-spacing $M-spacing;
      }
    }
  }
  // .index_products {
  //   width: 100%;
  //   background-color: $red;
  //   .index_row {
  //     color: $black;
  //     padding: $XXL-spacing 0;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     h2 {
  //       font-size: 48px;
  //       font-family: "Zen Maru Gothic";
  //       -webkit-text-stroke: 1px $white-1;
  //     }
  //     .prodBackground {
  //       background-color: $white-1;
  //       border: 3px solid $black;
  //       border-radius: $S-button-radius;
  //       padding: $XL-spacing 0;
  //       display: flex;
  //       flex-direction: column;
  //       gap: $L-spacing;
  //       width: 90%;
  //       overflow: hidden;
  //       @include T() {
  //         width: 90%;
  //       }
  //       @include PC() {
  //         max-width: $max-width;
  //       }
  //       .prodBreif {
  //         padding: 0 $S-spacing;
  //         @include T() {
  //           padding: 0 $XXL-spacing;
  //         }
  //         @include PC() {
  //           padding: 0 $XXXL-spacing;
  //         }
  //         p {
  //           font-size: $PC-text;
  //         }
  //       }
  //       .prodMarquee {
  //         border-top: 1px solid #b3b3b3;
  //         border-bottom: 2px solid #b3b3b3;
  //         background-image: url("@/assets/images/home/Grid.svg");
  //         height: 250px;
  //         .marqueeAnimation {
  //           display: flex;
  //           align-items: center;
  //           justify-content: center;
  //           animation: marquee 25s linear infinite;
  //           &:hover {
  //             animation-play-state: paused;
  //           }
  //           .productCard {
  //             margin: 0 $S-spacing;
  //             display: flex;
  //             flex-direction: column;
  //             align-items: center;
  //             transform: translateY(20px);
  //             .productImg {
  //               border: 1px solid $black;
  //               padding: $S-spacing;
  //               background-color: $white-1;
  //               img {
  //                 width: 150px;
  //               }
  //             }
  //             .productName {
  //               border: 1px solid $black;
  //               padding: $S-spacing;
  //               transform: translateY(-10px);
  //               background-color: $green-1;
  //               p {
  //                 font-size: $PC-text;
  //                 white-space: nowrap;
  //                 overflow: hidden;
  //                 text-overflow: ellipsis;
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //     .searchArea {
  //       border: 1px solid balck;
  //     }
  //   }
  // }
  // @keyframes marquee {
  //   0% {
  //     transform: translateX(1000%);
  //   }
  //   100% {
  //     transform: translateX(-100%);
  //   }
  // }
}
