.news {

  .content {
      margin-top: $XXL-spacing ;
      margin-bottom: $XXXL-spacing ;
      .btn {
        display: flex;
        justify-content: flex-end;
        padding: $XXL-spacing $XXXL-spacing $M-spacing 0;
        gap: $M-spacing ;

        .thBtn {
          width: 40px;
          &:hover {
            cursor: pointer;
          }
        }
        .listBtn {
          width: 40px;
          &:hover {
            cursor: pointer;
          }
        }
        .svg-inline--fa {
          width: 100%;
          // height: 40px;
        }
    
      }
      @include T(){
        max-width: 1500px;
        margin:  $XXL-spacing auto $XXXL-spacing;
      }

      .noneShow {
        display: none;
      }

    .cardList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      justify-items: flex-start;
      gap: $M-spacing calc($S-spacing + $S-spacing) ;
      
      @include T() {
        gap: $L-spacing $M-spacing;
  
      }
  
    }


  }



}
