.news {
  background-color: $blue-1;
  .loadingMask {
    z-index: 1000;
    background-color: $black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    .fade-leave-active {
      transition: opacity 0.5s;
    }
    .fade-leave-to {
      opacity: 0;
    }
    .lds-ring {
      display: inline-block;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;

        &:nth-child(1) {
          animation-delay: -0.45s;
        }

        &:nth-child(2) {
          animation-delay: -0.3s;
        }

        &:nth-child(3) {
          animation-delay: -0.15s;
        }
      }
    }

    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
  .content {
    margin-top: $XXL-spacing;
    padding-bottom: $XXXL-spacing;
    
    @include T() {
      max-width: 1500px;
      padding-bottom: $XXXL-spacing;
      margin: $XXL-spacing auto 0;
    }
    .btn {
      display: flex;
      justify-content: flex-end;
      padding: 20px 40px 20px 0;
      gap: 10px;

      .thBtn {
        width: 40px;
        &:hover {
          cursor: pointer;
        }
      }
      .listBtn {
        width: 40px;
        &:hover {
          cursor: pointer;
        }
      }
      .svg-inline--fa {
        width: 100%;
        // height: 40px;
      }
    }
    .noneShow {
      display: none;
    }

    .cardList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      justify-items: flex-start;
      gap: $M-spacing calc($S-spacing + $S-spacing);

      @include T() {
        gap: $L-spacing $M-spacing;
      }
    }
  }

  .cuppon {
    width: 100%;
    height: 22px;
    overflow: hidden;
    // position: relative;
    position: sticky;
    top:65px;
    transform: translateY(-8%);
    background-color: $white-1;
    z-index: 500;
    .btn {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 20;
      .svg-inline--fa {
        cursor: pointer;
        width: 10px;
        vertical-align: middle;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 30;
        transform: translate(-500%,20%);
      }
    }
    .subContent {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      white-space: nowrap;
      animation: marquee 600s linear infinite;
      span {
        padding: 0 60px ;
        letter-spacing: $PC-btn-exsl-spacing;
      }
    }
   
    @keyframes marquee {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    
  }
}

