.orderItemInfo {
  color: $blue-4;
  margin-bottom: $XXXL-spacing;
  .orderInfoTitle {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    margin-top: $M-spacing;
    padding: 0 $L-spacing $M-spacing;

    &:hover {
      cursor: pointer;
    }

    @include M() {
      // padding: 0 $L-spacing;
    }
    @include T() {
      margin-top: $L-spacing;
      padding: 0 $XXL-spacing;
    }
    @include PC() {
      margin-top: $L-spacing;
      padding: 0 $XXXL-spacing $L-spacing;
    }

    h2 {
      display: inline-block;
    }

    .svg-inline--fa {
      width: 20px;
      margin: 0 $S-spacing 0 0;

      @include PC() {
        margin: 0 $L-spacing 0 0;
      }
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: all 1s;
    max-height: 100vh;
  }
  .fade-enter-from,
  .fade-leave-to {
    max-height: 0;
    opacity: 0;
  }
  .content {
    overflow: hidden;
  }

  .orderItem {
    display: flex;
    position: relative;
    margin: $M-spacing 0 $M-spacing $L-spacing;

    @include T() {
      display: none;
    }
    .itemImg {
      max-width: 85px;
      max-height: 85px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        vertical-align: middle;
      }
    }
    .orderItemDetail {
      display: flex;
      .orderItemArea {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px 20px;
        @include T() {
          flex-direction: row;
          align-items: center;
          gap: 20px;
        }
        .name {
          width: 210px;
          text-wrap: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          h2 {
            overflow: hidden;
            text-overflow: ellipsis;
            color: $blue-4;
          }
        }
        .price {
        }
      }
    }
    .amount {
      padding: $XS-spacing $L-spacing 0 0;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-40px, 50px);
    }
  }

  table {
    display: none;
    border-collapse: collapse;
    margin: 20px auto 0;
    width: 80%;

    @include T() {
      margin: 0 auto;
      display: block;
    }
    @include PC() {
      max-width: $max-width;
    }
  }

  th {
    border-bottom: 1px solid #ddd;
    padding: $S-spacing;
    text-align: left;
    font-size: $PC-h4;
    margin: auto;
    font-weight: 500;
  }

  td {
    border-bottom: 1px solid #ddd;
    padding: $S-spacing;
    text-align: left;
    vertical-align: middle;

    img {
      width: 80px;
    }
  }
  .prod_img {
    width: 100px;
    // margin-left: $L-spacing;
    padding-left: $XXL-spacing;
  }
  .prod_name {
    @include T() {
      width: 400px;
    }
    @include PC() {
      width: 470px;
    }
  }
  .prod_status {
    font-size: $PC-h4;
    padding: $M-spacing;

    @include T() {
      width: 100px;
    }
    @include PC() {
      width: 200px;
    }
  }
  .prod_price {
    font-size: $PC-h4;
    font-weight: 600;
    @include T() {
      width: 200px;
    }
    @include PC() {
      width: 100px;
    }
  }

  th {
    // background-color: #f2f2f2;
  }

  .priceContent {
    margin: 0 $S-spacing;
    // padding: $S-spacing 0;
    padding: $L-spacing $L-spacing $M-spacing;

    @include PC() {
      width: 30%;
      margin-left: auto;
      margin-right: 200px;
      max-width: $max-width;
    }
    .priceArea {
      @include PC() {
        margin-top: $S-spacing;
      }
      display: flex;
      flex-direction: column;
      row-gap: $S-spacing;
      .subtotal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .subtotalTitle {
          p {
            font-size: $M-text;
          }
        }
        .subtotalAmount {
          p {
            font-size: $M-text;
          }
        }
      }
      .deliveryPrice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .deliveryPriceTitle {
          p {
            font-size: $M-text;
          }
          .deliveryPriceAmount {
            p {
              font-size: $M-text;
            }
          }
        }
      }
      .discount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .discountTitle {
          p {
            font-size: $M-text;
          }
        }
        .discountAmount {
          display: flex;
          font-size: $M-text;
        }
      }
      .totalPrice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $M-h3;
        margin-top: $S-spacing;
        padding-top: $M-spacing;
        @include T() {
          border-top: 1px solid $gray-2;
        }
      }
    }
  }

  .orderPayment {
    @include T() {
      display: flex;
      border-top: 1px solid $gray-2;
      justify-content: center;
      width: calc(100vw - $XXXL-spacing);
      margin: auto;
      padding: 0 0 $XL-spacing;
    }

    .orderInfo {
      box-sizing: content-box;
      padding: 0 $L-spacing $L-spacing;

      h2 {
        border-top: 1px solid $blue-4;
        padding: $L-spacing 0 0;
        @include T() {
          border-top: none;
        }
      }

      .name {
        padding-top: $S-spacing;
        padding-top: $M-spacing;
        @include T() {
          width: 374px;
        }
      }
      .phone,
      .adress,
      .email {
        padding-top: $S-spacing;
      }

      label {
        letter-spacing: $PC-btn-esl-spacing;
      }

      input {
        cursor: not-allowed;
        margin: $S-spacing 0 0;
        display: block;
        border-radius: $input-radius;
        border: 0.5px solid $gray-2;
        padding: $S-spacing $S-spacing;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: $gray-2;
        letter-spacing: $PC-btn-esl-spacing;
      }
    }

    .paymentInfo {
      box-sizing: content-box;
      padding: 0 $L-spacing $M-spacing;

      h2 {
        border-top: 1px solid $blue-4;
        padding: $L-spacing 0 0;

        @include T() {
          border-top: none;
        }
      }

      .payment {
        padding-top: $S-spacing;
        padding-top: $M-spacing;

        @include T() {
          width: 374px;
        }
      }
      .bill {
        padding-top: $S-spacing;
      }
      .text {
        display: flex;
        justify-content: space-between;
        .warning {
          color: $red;
        }
      }
      label {
        letter-spacing: $PC-btn-esl-spacing;
      }

      select {
        cursor: pointer;
        display: block;
        margin: $S-spacing 0 0;
        border-radius: $input-radius;
        border: 0.5px solid $gray-2;
        padding: 0 0 0 $S-spacing;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: $gray-2;
        letter-spacing: $PC-btn-esl-spacing;

        option:first-child {
          color: $gray-2;
        }
      }
      select:focus {
        color: $blue-4;
      }
    }
  }

  .checkOutBtn_m {
    padding: $M-spacing $L-spacing;
    @include T() {
      display: none;
    }
    .disableBtn {
      pointer-events: none;
      background-color: $gray-2;
    }
    button {
      width: 100%;
    }
  }
  .checkOutBtn_pc {
    display: none;
    @include T() {
      display: block;
      display: flex;
      justify-content: center;
      border-top: 1px solid $gray-2;
      padding: $L-spacing 0;
      width: calc(100vw - $XXXL-spacing);
      margin: auto;
    }
    .disableBtn {
      pointer-events: none;
      background-color: $gray-2;
    }
    button {
      width: 200px;
    }
  }
}
select:focus {
  outline-color: $orange-2;
}
