.orderSuccess {
  margin-bottom:$XXXL-spacing ;
  margin-top:$L-spacing ;

  .svg-inline--fa {
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: $orange-2;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $L-spacing 0 $XL-spacing 0;

    h2,h3 {
      display: block;
      color: $blue-4;
      padding: $M-spacing $L-spacing;
      text-align: center;
      @include T(){
        padding: $M-spacing 0;

      }
    }
  } 

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $M-spacing;

    router-link {
      margin: auto;
     
    }
  }

}
