img {
  width: 100%;
  vertical-align: middle;
}
.orderInfo {
  color: $blue-4;

  .orderInfoTitle {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    margin-top: $M-spacing;
    padding: 0 $M-spacing;
    
    @include M(){
      padding: 0 $L-spacing;
      
    }
    @include T(){
      margin-top: $L-spacing;
      padding: 0 $XXL-spacing;

    }
    @include PC(){
      margin-top: $L-spacing;
      padding: 0 $XXXL-spacing;

    }

    h2{
      display: inline-block;
    }

    .svg-inline--fa{
      width: 20px;
      margin: 0 $S-spacing 0 0;
      
      @include PC(){
        margin: 0 $L-spacing 0 0;
        
  
      }
    }


  }





  table {
    display: none;
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto 0;
    @include PC(){
      display: block;

    }


  }
  
  th{
    border-bottom: 1px solid #ddd;
    padding: $S-spacing;
    text-align: left;
    font-size:$PC-h4;
    margin: auto;
    font-weight: 500;

  }
  
  td{
    border-bottom: 1px solid #ddd;
    padding: $S-spacing;
    text-align: left;
    vertical-align: middle;
    

    img {
      width: 80px;
    }
    h3{
      font-size: $PC-h3;
    }

  }
  .prod_img {
    width: 100px;
    // margin-left: $L-spacing;
    padding-left: $XXL-spacing;
  }
  .prod_name {
    width: 500px;
    
  }
  .prod_status {
    font-size:$PC-h4;
    padding: $M-spacing;
  }
  .prod_price {
    font-size:$PC-h4;
    font-weight: 600;
  }
  
  th {
    // background-color: #f2f2f2;
  }
















  .priceContent {
    margin: 0 $S-spacing;
    padding: $S-spacing 0;

    @include PC() {
      width: 40%;
    }
    .priceArea {
      @include PC() {
        margin-top: $XL-spacing;
        position: sticky;
        top: 80px;
        right: 0px;
      }
      display: flex;
      flex-direction: column;
      row-gap: $S-spacing;
      .subtotal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .subtotalTitle {
          p {
            font-size: $M-text;
          }
        }
        .subtotalAmount {
          p {
            font-size: $M-text;
          }
        }
      }
      .deliveryPrice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .deliveryPriceTitle {
          p {
            font-size: $M-text;
          }
          .deliveryPriceAmount {
            p {
              font-size: $M-text;
            }
          }
        }
      }
      .discount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .discountTitle {
          p {
            font-size: $M-text;
          }
        }
        .discountAmount {
          display: flex;
          font-size: $M-text;
        }
      }
      .totalPrice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $M-h3;
        margin-top: $S-spacing;
      }
    }
  }
  .checkOutBtn {
    button {
      width: 100%;
    }
  }
}

