.productInfo {
  background-color: $blue-1;
  .loadingMask {
    z-index: 1000;
    background-color: $black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    .fade-leave-active {
      transition: opacity 0.5s;
    }
    .fade-leave-to {
      opacity: 0;
    }
    .lds-ring {
      display: inline-block;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;

        &:nth-child(1) {
          animation-delay: -0.45s;
        }

        &:nth-child(2) {
          animation-delay: -0.3s;
        }

        &:nth-child(3) {
          animation-delay: -0.15s;
        }
      }
    }

    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
  .breadcrumb {
    position: relative;
    max-width: $max-width;
    margin: auto;
    padding: 0 $L-spacing;
    top: 15px;
    @include T() {
      padding: 0 $XL-spacing;
      top: 30px;
    }
    @include PC() {
      padding: 0;
      top: 50px;
    }
  }
  .productAllInfo {
    color: $black;
    .productInfoArea {
      padding: $M-spacing;
      @include T() {
        padding: $L-spacing;
      }
      @include PC() {
        padding: $XXL-spacing 0;
      }
      .productInfoBackground {
        max-width: $max-width;
        margin: auto;
        background-color: $white-1;
        padding: 20px 15px;
        border-radius: $PC-card-radius;
        @include T() {
          padding: $L-spacing;
        }
        .productPicInfoArea {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: $M-spacing;
          @include PC() {
            flex-direction: row;
            column-gap: $XXL-spacing;
          }
          .productPicArea {
            display: flex;
            flex-direction: column;
            row-gap: $S-spacing;
            justify-content: center;
            align-items: center;
            width: 100%;
            @include PC() {
              width: 50%;
            }
            .productMainPic {
              width: 100%;
              height: 100%;
              img {
                vertical-align: top;
                width: 100%;
                height: auto;
              }
            }
            .productPicList {
              display: flex;
              column-gap: $S-spacing;
              width: 100%;
              overflow-x: auto;
              .productPic {
                cursor: pointer;
                img {
                  vertical-align: top;
                  width: 100px;
                  height: 100px;
                  @include PC() {
                    width: 150px;
                    height: 150px;
                  }
                }
              }
            }
          }
          .productBuyingArea {
            display: flex;
            flex-direction: column;
            row-gap: $M-spacing;
            width: 90%;
            @include PC() {
              height: 700px;
              width: 50%;
            }
            .productName {
              border-bottom: 1px solid $black;
              padding: $S-spacing 0;
              h3 {
                font-size: $M-h3;
                @include T() {
                  font-size: $PC-h3;
                }
              }
            }
            .productTag {
              display: flex;
              column-gap: $M-spacing;
              span {
                width: 80px;
                text-align: center;
                padding: $S-spacing;
                background-color: $green-1;
                border-radius: $S-button-radius;
                font-size: $M-text;
                @include PC() {
                  font-size: $PC-text;
                }
              }
            }
            .productBrief {
              flex-grow: 1;
              border-bottom: 1px solid $black;
              p {
                font-size: $M-text;
                padding: $M-spacing 0;
              }
              @include PC() {
                font-size: $PC-text;
              }
            }
            .productPriceQuantity {
              display: flex;
              flex-direction: column;
              row-gap: $S-spacing;
              .productPriceQuantityArea {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .productDiscountPrice {
                  h3 {
                    font-size: $M-h2;
                    @include T() {
                      font-size: $PC-h2;
                    }
                  }
                }
                .productQuantity {
                  border: 1px solid $black;
                  padding: $S-spacing;
                  border-radius: $S-button-radius;
                  display: flex;
                  input[type="number"] {
                    width: 50px;
                    text-align: center;
                    border: none;
                    font-size: $M-text;
                    @include PC() {
                      font-size: $PC-text;
                    }
                  }
                  input[type="number"]::-webkit-inner-spin-button,
                  input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }
                  button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    span {
                      font-size: $PC-h3;
                    }
                  }
                }
              }
            }
            .productBuyingButton {
              display: flex;
              flex-direction: column;
              row-gap: $S-spacing;
              @include PC() {
                justify-content: space-between;
                column-gap: $S-spacing;
                flex-direction: row;
              }
              button {
                width: 100%;

                @include PC() {
                  width: 48%;
                }
              }
              a {
                width: 100%;

                @include PC() {
                  width: 48%;
                }
                &:hover {
                  color: $white-1;
                }
              }
            }
          }
        }
      }
    }
    .productDescArea {
      max-width: $max-width;
      margin: auto;
      padding: 0 $M-spacing $XXL-spacing $M-spacing;
      @include T() {
        padding: 0 $L-spacing $XXL-spacing $L-spacing;
      }
      @include PC() {
        padding: 0 0 $XXL-spacing 0;
      }
      .productDescTab {
        display: flex;
        justify-content: center;
        column-gap: $M-spacing;
        .tab {
          cursor: pointer;
          background-color: $gray-2;
          padding: $S-spacing $L-spacing;
          border-radius: 5px 5px 0 0;

          span {
            font-size: $M-text;
            color: $white-1;
            @include PC() {
              font-size: $PC-text;
            }
          }
        }
        .active {
          background-color: $blue-2;
        }
      }
      .productDescBackground {
        background-color: $white-1;
        padding: $XL-spacing;
        border-radius: $PC-card-radius;
        .productDescTitle {
          font-size: $PC-h3;
          text-align: center;
          margin-bottom: $M-spacing;
        }
        .productDesc {
          p {
            font-size: $M-text;
            @include PC() {
              font-size: $PC-text;
            }
          }
        }
      }
    }
  }
}
