.productBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $yellow;
  width: 100%;
}
.product {
  background-color: $white-1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $max-width;
  gap: $XL-spacing;
  margin: $XL-spacing;
  padding: $XL-spacing $M-spacing;
  border-radius: $PC-card-radius;
  h1 {
    color: $blue-1;
  }
}
.hotTitle{
  display: flex;
  gap: 20px;
  font-size: $PC-h3;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
