@import "@/assets/scss/base/_font.scss";
@import "@/assets/scss/components/_button.scss";
@import "@/assets/scss/components/_grid.scss";
.signup {
  background-color: $bgc-2;
  @include PC() {
    @include grid(12, PC);
  }
}
.signup_main {
  // width: 630px;
  max-width: 520px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bgc-8;
  // position: relative;
  border-radius: $PC-card-radius;
  padding: 80px 0 0;

  .signup_title{
    position: relative;
    // width: 100%;
    // height: 100%;

    .signup_main_griddy {
      width: 123px;
      height: 123px;
      border-radius: 50%;
      position: absolute;
      left:-15%;
      top: -400%;
      background: no-repeat center url("@/assets/images/header/griddy_orange.png"),
        $bgc-1;
    }
    h2 {
      font-size: $M-h2;
    }
  }

 
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      color: $blue-3;
    }
    .signBtn {
      width: 325px;
      margin: $S-spacing;
    }
    .signup_signUp_text {
      margin: 35px auto 40px;
      font-size: $small;
      a {
        text-decoration: underline;
      }
    }
  }
}
