.team{
    padding-bottom: 100px;
    background-color: $purple;
    .col-PC-10, .col-T-10, .col-12{
        margin: auto;
    }

    // 麵包屑
    .team_breadcrumb {
        padding-left: 20px;
        margin-top: 50px;
        // margin: 50px 0px 16px 0px;
        @include T() {
        margin-top: 100px;
        }
    }

    // 牙齒區
    .team_tag{
        margin-top: 20px;
        padding: 8px 20px;
            @include T(){
            display: flex;
            }
            @include PC(){
            display: flex;
            }
        .team_tag_btn{
        width: 100%;
        display: flex;
        display: none;
        align-items: end;
            .btn_secondary:last-child{
                background-color: #ff7a00;
            }
            @include T(){
                display: flex;
                width: 50%;
                margin-top: auto;
            }
            a{
                font-size: $small;
                text-align: center;
                margin-right: 8px;
                @include T(){
                font-size: 14px;
                }
                @include PC(){
                font-size: $PC-btn-sl-font;
                }
            }
        }
        .team_article{
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        margin: 16px 0px auto;
        display: flex;
            .btn_lg_orange{
            display: flex;
            margin-bottom: 8px;
            }
            select{
            width: 130px;
            height: 30px;
            border: 1.618px solid #444;
            border-radius: 12px;
            padding: 4px 8px;
            font-size: $M-text;
            outline: none;
            color: #444;
            background-color: $white-1;
            cursor: pointer;
                option{
                    font-size: $M-text;
                    padding: 8px;
                    margin: 4px;
                }
            }
        }
    }
    // 卡片區
    .main{
        width: 100%;
        @include T(){
            display: flex;
            flex-wrap: wrap;
        }
        @include PC(){
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 三個相等寬度的欄位 */
            gap: 10px; /* 欄位之間的間距 */
        }
        .team_card{
            position: relative;
            border: 2px solid $black;
            padding: 20px;
            background-color: $white-1;
            border-radius: 28px;
            margin: 0px auto 20px auto;
            @include T(){
                width: 48%;
            }
            @include PC(){
                width: 100%;
            }
            .team_card_id{
                display: flex;
                .team_card_img{
                    width: 40px;
                    overflow: hidden;
                    img{
                        border-radius: 50%;
                        width: 100%;
                        vertical-align: bottom;
                    }
                }
                .team_card_id_info{
                    width: 100%;
                    padding-left: 8px;
                    .team_card_name{
                        color: $black;
                        div{
                            font-size: $M-h3; 
                            @include T(){ 
                            font-size: $PC-h4;
                            } 
                            @include PC(){
                            font-size: $PC-h3;
                            }
                        }
                    }
                    // .team_card_memId{
                    //     background-color: #ff7a00;
                    //     p{
                    //         font-size: $M-text;
                    //         color: $black;
                    //     }
                    // }
                }
            }
            .team_card_time{
                display: flex;
                p{
                    margin: 8px 8px 8px 0px;
                    font-size: $M-text;
                    color: $black;
                    letter-spacing: 1px;
                }
            }
            .team_card_tag_area{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 8px;
                .team_card_tags{
                    color: $white-1;
                    .team_card_tag{
                        font-size: $M-text;
                        background-color: $blue-3;
                        margin: 0px 8px 8px 0px;
                        padding: 4px 12px;
                        border-radius: 8px;
                        
                    }
                }
            }

            .team_card_article{
                width: 100%;
                margin-bottom: 60px;
                // margin-bottom: auto;
                p{
                    font-size: $M-text;
                    color: $black;
                    letter-spacing: .5px;
                }
            }
            .team_card_btn{
                position: absolute;
                bottom: 20px;
                right: 20px;
                text-align: center;
                .btn_secondary{
                    text-align: center;
                }
            }
        }
    }

    // 發文燈箱
    .light_box{
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        .overlay{
            width: 100%;
            height: 100vh;
            background: #000;
            opacity: .5;
        }
        .box{
            background-color: $gray-1;
            border: 10px solid $purple;
            border-radius: 20px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 30px;
            width: 340px;
        @include T(){
            width: 400px;
        }
        @include PC(){
            width: 500px;
        }
        form{
            .team_lb_title{
                font-size: $M-h3;
                color: $black;
                margin-bottom: 8px;
            }
            .team_lb_subTitle {
                color: #5e5e5e;
                font-size: $M-h4;
                margin-bottom: 8px;
            }
            textarea{
                padding: 8px;
                outline: none;
                margin: auto;
                border: 1px solid $gray-2;
                width: 100%;
            @include T(){
                width: 100%;
            }
            @include PC(){
                width: 100%;
            }
            }
            .team_light_box_send{
                display: flex;
                flex-direction: column;
                >div>label{
                    cursor: pointer;
                }
                label{
                    margin: 8px 0;
                    padding: 0 4px;
                    font-size: $small;
                }
                button{
                    margin-top: 16px;
                    background-color: $orange-2;
                    border: none;
                    outline: none;
                    &:hover{
                    background-color: #ff9514;
                    }
                }
            }
        }
        h4{
            text-align: center;
            margin-bottom: 60px;
        }
        svg{
            background-color: $white-1;
            border-radius: 50px;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 5px;
            right: 6px;
            vertical-align: bottom;
            cursor: pointer;
                &:hover{
                color: $red;
                }
        }
        >div{
            h3{
                text-align: center;
                margin: 20px auto 60px auto;
            }
            button{
                margin: auto;
                display: flex;
            }
        }
        }
    }

    .join_light_box{
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        .overlay{
            width: 100%;
            height: 100vh;
            background: #000;
            opacity: .5;
        }
        .box{
            background-color: $gray-1;
            border: 10px solid $purple;
            border-radius: 20px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 30px;
            width: 340px;
        @include T(){
            width: 400px;
        }
        @include PC(){
            width: 500px;
        }
        form{
            h3{
                letter-spacing: 1px;
                color: $black;
                font-size: $M-h3;
                text-align: center;
            }
            .team_light_box_send{
                display: flex;
                margin: 60px 0px 0px 0px;
                justify-content: center;
                button{
                    margin: 0px 10px;
                    &:last-child{
                        background-color: $orange-2;
                        &:hover {
                            background-color: darken($orange-2, 10);
                        }
                    }
                }
            }
        }
        h4{
            text-align: center;
            margin-bottom: 40px;
        }
        svg{
            background-color: $white-1;
            border-radius: 50px;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 5px;
            right: 6px;
            vertical-align: bottom;
            cursor: pointer;
                &:hover{
                color: $red;
                }
        }
        >div{
            h3{
                text-align: center;
                margin: 20px auto 60px auto;
            }
            button{
                margin: auto;
                display: flex;
                
            }
        }
        }
    }

    .griddy_ani{
        // display: none;
        // @include PC(){
            display: block;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow: hidden;
            .overlay{
                position: absolute;
                width: 100%;
                height: 100vh;
            }
            .griddy{
                position: fixed;
                // width: 250px;
                width: 19.5%;
                z-index: 900;
                top: 40vh;
            }
            .left_griddy{
                left: 0;
                animation: moveRight 1.5s forwards;
            }
            .right_griddy{
                right: 0;
                animation: moveLeft 1.5s forwards;
            }
            .fight_icon{
                position: fixed;
                z-index: 900;
                // width: 80px;
                width: 6.3%;
                top: 70px;
                left: 50%;
                transform: translateX(-40%);
                opacity: 0;
                animation: fadeIn .45s .8s forwards;
            }
            .fight_text{
                position: fixed;
                top: 55%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 950;
                color: $white-1;
                font-family: Zen Maru Gothic;
                font-size: 800%;
                opacity: 0;
                animation: textFadeIn .45s .8s forwards;
                @media screen and (max-width: 1200px) {
                    font-size: 700%;
                }
            // } 
        } 
    } 

    [disabled]{
        cursor: no-drop;
    }
} //team

@keyframes moveRight {
    100%{
        transform: translate(140.2%, -30%);
    }
}
@keyframes moveLeft {
    100%{
        transform: translate(-140.2%, -30%);
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0; 
        // width: 80px;
        width: 8%;
    }
    25%{
        opacity: 1;
        // width: 100px;
        width: 13%;
    }
    50%{
        opacity: 1;
        // width: 80px;
        width: 8%;
    }
    100%{ 
        opacity: 1;
        // width: 170px; 
        width: 15%;
    } 
} 
@keyframes textFadeIn {
    0%{
        opacity: 0; 
    }
    25%{
        opacity: .5;
        font-size: 900%;
    }
    50%{
        opacity: .7;
        font-size: 800%;
    }
    100%{ 
        opacity: 1;
        font-size: 1100%;
    } 
} 
@media screen and (max-width: 1200px) {
    @keyframes textFadeIn {
        0%{
            opacity: 0; 
        }
        25%{
            opacity: .5;
            font-size: 800%;
        }
        50%{
            opacity: .7;
            font-size: 700%;
        }
        100%{ 
            opacity: 1;
            font-size: 900%;
        } 
    }
}